<section class="careers-culture-banner">
    <div class="container h-100 d-flex justify-content-center flex-column">
        <h1 class="text-white">Shaping The Future Of <span class="fw-semibold text-gradient">AI</span></h1>
        <p class="text-white">
            Come Join Us !
        </p>
    </div>
</section>

<section class="employe-benefit">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center gap-1">
            <img src="../../../../../assets/images/point.svg">
            <h6 class="fw-semibold mb-0">CAREERS & CULTURE</h6>
        </div>
        <h1 class="mb-0 fw-medium text-center py-4">Employee Benefits</h1>
        <div class="row gy-3">
            <div class="col-sm-4 px-0">
                <div class="employe-benefit-card border-1 border-info border-end">
                    <img src="../../../../../assets/images/About-us/wellness-benefit.svg" class="mb-3">
                    <p class="fw-semibold mb-0">wellness Benefit</p>
                </div>
            </div>
            <div class="col-sm-4 px-0">
                <div class="employe-benefit-card border-1 border-info border-end">
                    <img src="../../../../../assets/images/About-us/competitive-compensation.svg" class="mb-3">
                    <p class="fw-semibold mb-0">Competitive Compensation</p>
                </div>
            </div>
            <div class="col-sm-4 px-0">
                <div class="employe-benefit-card">
                    <img src="../../../../../assets/images/About-us/free-meals-snacks.svg" class="mb-3">
                    <p class="fw-semibold mb-0">Free Meals & Snacks</p>
                </div>
            </div>
            <div class="col-sm-4 px-0">
                <div class="employe-benefit-card border-1 border-info border-end">
                    <img src="../../../../../assets/images/About-us/fun-offsites.svg" class="mb-3">
                    <p class="fw-semibold mb-0">Fun Offsites</p>
                </div>
            </div>
            <div class="col-sm-4 px-0">
                <div class="employe-benefit-card border-1 border-info border-end">
                    <img src="../../../../../assets/images/About-us/referral-bonus.svg" class="mb-3">
                    <p class="fw-semibold mb-0">Referral Bonus</p>
                </div>
            </div>
            <div class="col-sm-4 px-0">
                <div class="employe-benefit-card ">
                    <img src="../../../../../assets/images/About-us/open-door-policy.svg" class="mb-3">
                    <p class="fw-semibold mb-0">Open-Door Policy</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="explore-positions">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center gap-1">
            <img src="../../../../../assets/images/point.svg">
            <h6 class="fw-semibold text-white mb-0">CAREERS & CULTURE</h6>
        </div>
        <h1 class="mb-0 fw-medium text-white text-center py-4">Explore Open Positions</h1>
        <div class="row g-4">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../../../assets/images/About-us/mission-careers.svg" class="explore-image">
                        <p class="fw-semibold my-2">Customer Success Manager</p>
                        <ul class="list-group mb-3">
                            <li class="d-flex align-items-center gap-1">
                                <img src="../../../../../assets/images/About-us/experience-bag.svg" class="image-icon">
                                <p class="mb-0 small">Experience : 1-2 Years</p>
                            </li>
                            <li class="d-flex align-items-center gap-1">
                                <img src="../../../../../assets/images/About-us/location.svg" class="image-icon">
                                <p class="mb-0 small">Location: Gurgaon</p>
                            </li>
                            <li class="d-flex align-items-center gap-1">
                                <img src="../../../../../assets/images/About-us/user-search.svg" class="image-icon">
                                <p class="mb-0 small">Job Type: Business</p>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-primary rounded-pill">APPLY NOW</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../../../assets/images/About-us/mission-careers.svg" class="explore-image">
                        <p class="fw-semibold my-2">Business Development Manager</p>
                        <ul class="list-group mb-3">
                            <li class="d-flex align-items-center gap-1">
                                <img src="../../../../../assets/images/About-us/experience-bag.svg" class="image-icon">
                                <p class="mb-0 small">Experience : 1-2 Years</p>
                            </li>
                            <li class="d-flex align-items-center gap-1">
                                <img src="../../../../../assets/images/About-us/location.svg" class="image-icon">
                                <p class="mb-0 small">Location: Gurgaon</p>
                            </li>
                            <li class="d-flex align-items-center gap-1">
                                <img src="../../../../../assets/images/About-us/user-search.svg" class="image-icon">
                                <p class="mb-0 small">Job Type: Business</p>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-primary rounded-pill">APPLY NOW</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../../../assets/images/About-us/careers-coder.svg" class="explore-image">
                        <p class="fw-semibold my-2">Software Developer (Backend)</p>
                        <ul class="list-group mb-3">
                            <li class="d-flex align-items-center gap-1">
                                <img src="../../../../../assets/images/About-us/experience-bag.svg" class="image-icon">
                                <p class="mb-0 small">Experience : 1-2 Years</p>
                            </li>
                            <li class="d-flex align-items-center gap-1">
                                <img src="../../../../../assets/images/About-us/location.svg" class="image-icon">
                                <p class="mb-0 small">Location: Gurgaon</p>
                            </li>
                            <li class="d-flex align-items-center gap-1">
                                <img src="../../../../../assets/images/About-us/user-search.svg" class="image-icon">
                                <p class="mb-0 small">Job Type: Business</p>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-primary rounded-pill">APPLY NOW</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../../../assets/images/About-us/mission-careers.svg" class="explore-image">
                        <p class="fw-semibold my-2">Pre Sales Executive</p>
                        <ul class="list-group mb-3">
                            <li class="d-flex align-items-center gap-1">
                                <img src="../../../../../assets/images/About-us/experience-bag.svg" class="image-icon">
                                <p class="mb-0 small">Experience : 1-2 Years</p>
                            </li>
                            <li class="d-flex align-items-center gap-1">
                                <img src="../../../../../assets/images/About-us/location.svg" class="image-icon">
                                <p class="mb-0 small">Location: Gurgaon</p>
                            </li>
                            <li class="d-flex align-items-center gap-1">
                                <img src="../../../../../assets/images/About-us/user-search.svg" class="image-icon">
                                <p class="mb-0 small">Job Type: Business</p>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-primary rounded-pill">APPLY NOW</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../../../assets/images/About-us/careers-coder.svg" class="explore-image">
                        <p class="fw-semibold my-2">Devops Engineer</p>
                        <ul class="list-group mb-3">
                            <li class="d-flex align-items-center gap-1">
                                <img src="../../../../../assets/images/About-us/experience-bag.svg" class="image-icon">
                                <p class="mb-0 small">Experience : 1-2 Years</p>
                            </li>
                            <li class="d-flex align-items-center gap-1">
                                <img src="../../../../../assets/images/About-us/location.svg" class="image-icon">
                                <p class="mb-0 small">Location: Gurgaon</p>
                            </li>
                            <li class="d-flex align-items-center gap-1">
                                <img src="../../../../../assets/images/About-us/user-search.svg" class="image-icon">
                                <p class="mb-0 small">Job Type: Business</p>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-primary rounded-pill">APPLY NOW</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../../../assets/images/About-us/careers-coder.svg" class="explore-image">
                        <p class="fw-semibold my-2">Product Manager</p>
                        <ul class="list-group mb-3">
                            <li class="d-flex align-items-center gap-1">
                                <img src="../../../../../assets/images/About-us/experience-bag.svg" class="image-icon">
                                <p class="mb-0 small">Experience : 1-2 Years</p>
                            </li>
                            <li class="d-flex align-items-center gap-1">
                                <img src="../../../../../assets/images/About-us/location.svg" class="image-icon">
                                <p class="mb-0 small">Location: Gurgaon</p>
                            </li>
                            <li class="d-flex align-items-center gap-1">
                                <img src="../../../../../assets/images/About-us/user-search.svg" class="image-icon">
                                <p class="mb-0 small">Job Type: Business</p>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-primary rounded-pill">APPLY NOW</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../../../assets/images/About-us/careers-coder.svg" class="explore-image">
                        <p class="fw-semibold my-2">QA Engineer</p>
                        <ul class="list-group mb-3">
                            <li class="d-flex align-items-center gap-1">
                                <img src="../../../../../assets/images/About-us/experience-bag.svg" class="image-icon">
                                <p class="mb-0 small">Experience : 1-2 Years</p>
                            </li>
                            <li class="d-flex align-items-center gap-1">
                                <img src="../../../../../assets/images/About-us/location.svg" class="image-icon">
                                <p class="mb-0 small">Location: Gurgaon</p>
                            </li>
                            <li class="d-flex align-items-center gap-1">
                                <img src="../../../../../assets/images/About-us/user-search.svg" class="image-icon">
                                <p class="mb-0 small">Job Type: Business</p>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-primary rounded-pill">APPLY NOW</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="join-fun">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center gap-1">
            <img src="../../../../../assets/images/point.svg">
            <h6 class="fw-semibold mb-0">CAREERS & CULTURE</h6>
        </div>
        <h1 class="mb-0 fw-medium text-center py-4">Join The Fun</h1>
        <div class="row g-3">
            <div class="col-sm-3">
                <img src="../../../../../assets/images/explore_charlie/Social-Distancing-Monitoring.png" class="d-block w-100">
            </div>
            <div class="col-sm-3">
                <img src="../../../../../assets/images/explore_charlie/Social-Distancing-Monitoring.png" class="d-block w-100">
            </div>
            <div class="col-sm-3">
                <img src="../../../../../assets/images/explore_charlie/Social-Distancing-Monitoring.png" class="d-block w-100">
            </div>
            <div class="col-sm-3">
                <img src="../../../../../assets/images/explore_charlie/Social-Distancing-Monitoring.png" class="d-block w-100">
            </div>
            <div class="col-sm-3">
                <img src="../../../../../assets/images/explore_charlie/Social-Distancing-Monitoring.png" class="d-block w-100">
            </div>
            <div class="col-sm-3">
                <img src="../../../../../assets/images/explore_charlie/Social-Distancing-Monitoring.png" class="d-block w-100">
            </div>
            <div class="col-sm-3">
                <img src="../../../../../assets/images/explore_charlie/Social-Distancing-Monitoring.png" class="d-block w-100">
            </div>
            <div class="col-sm-3">
                <img src="../../../../../assets/images/explore_charlie/Social-Distancing-Monitoring.png" class="d-block w-100">
            </div>
            <div class="col-sm-3">
                <img src="../../../../../assets/images/explore_charlie/Social-Distancing-Monitoring.png" class="d-block w-100">
            </div>
            <div class="col-sm-3">
                <img src="../../../../../assets/images/explore_charlie/Social-Distancing-Monitoring.png" class="d-block w-100">
            </div>
            <div class="col-sm-3">
                <img src="../../../../../assets/images/explore_charlie/Social-Distancing-Monitoring.png" class="d-block w-100">
            </div>
            <div class="col-sm-3">
                <img src="../../../../../assets/images/explore_charlie/Social-Distancing-Monitoring.png" class="d-block w-100">
            </div>
        </div>
    </div>
    
</section>
