<div class="about-us-banner mb-3">
    <h1 class="fw-semibold text-white">About <span class="text-gradient">US</span></h1>
</div>
<div class="container-fluid bg-primary p-4 mb-3 bg-opacity-10">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="d-flex gap-1">
                    <img src="../../../../../assets/images/point.svg" alt="">
                    <h6>ABOUT US</h6>
                </div>
                <h3 class="fw-semibold">Core Competence</h3>
                <p>Over The Years, AIkernel Has Been At The Forefront Of The AI Technology Industry With Its
                    Plug-And-Play,
                    Video, And Audio CHARLIE . CHARLIE Has Unique Interactive Features That Have Helped Organizations
                    Grow At An
                    Exponential Rate. Our Solution Can Be Embedded In Existing Infrastructure And Uses The Existing CCTV
                    Camera
                    And An Internet Connection To Provide Actionable Data Insights Through CCTV Video Feed. It Is A
                    Centralized
                    Video Management Software, Alerting In Real-Time Focusing On All Audio-Video Streams.</p>
            </div>
            <div class="col-sm-5">
                <img src="../../../../../assets/images/About-us/robot.webp" alt="" class="img-fluid rounded-4">
            </div>
        </div>
    </div>

</div>
<div class="our-vision-banner mb-3">
    <div class="container">
        <div class="text-center ">
            <div class="d-flex justify-content-center  gap-1">
                <img src="../../../../../assets/images/point.svg" alt="">
                <h6>ABOUT US</h6>
            </div>
            <h3 class="fw-semibold mb-5">Our Vision & Mission</h3>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-4">
                <div class="card h-100 our-vision-card position-relative">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="../../../../../assets/images/About-us/view.svg" alt="">
                            <h5 class="mt-4 fw-semibold">Vision</h5>
                            <p>
                                To Provide AI Solutions That Help Those In Decision-Making And Practice In Automating
                                Operational And Monitoring Processes. To Minimize Human Errors And Maximize Productivity
                                Standards. To Make Surveillance Centrally Accessible Across Different Locations. To
                                Provide Real-Time Alerts To Act Immediately.
                            </p>
                            <a href="#">Read More<i class="fa-solid fa-arrow-right ms-2"></i></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card our-vision-card position-relative">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="../../../../../assets/images/About-us/mission.svg" alt="">
                            <h5 class="mt-4 fw-semibold">Mission</h5>
                            <p>
                                To Provide AI Solutions That Help Those In Decision-Making And Practice In Automating
                                Operational And Monitoring Processes. To Minimize Human Errors And Maximize Productivity
                                Standards. To Make Surveillance Centrally Accessible Across Different Locations. To
                                Provide Real-Time Alerts To Act Immediately.
                            </p>
                            <a href="#">Read More<i class="fa-solid fa-arrow-right ms-2"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="out-patents mb-5">
    <div class="container">
        <div class="row ">
            <div class="col-sm-7">
                <div class="d-flex gap-1 mb-2">
                    <img src="../../../../../assets/images/point.svg" alt="">
                    <h6 class="mb-0">ABOUT US</h6>
                </div>
                <h3 class="fw-semibold">Our Patents</h3>
                <p>We Are Proud To Be A Leading Name In The Video Analytics Industry. <span
                        class="text-main">AI</span>kernel Has Two Patented Technologies
                    That Have Been Used In Developing CHARLIE. Leading To Seminal Innovation, Our Patents Have Held High
                    Accord In The World Of Artificial Intelligence.</p>
            </div>
            <div class="col-sm-5">
                <div class="row gx-2">
                    <div class="col-sm-6">
                        <img src="../../../../../assets/images/About-us/certificate.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-sm-6">
                        <img src="../../../../../assets/images/About-us/certificate.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center ">
    <div class="d-flex justify-content-center  gap-1">
        <img src="../../../../../assets/images/point.svg" alt="">
        <h6>ABOUT US</h6>
    </div>
    <h3 class="fw-semibold mb-5">Our Core Values</h3>
</div>
<div class="container mb-3">
    <div class="d-flex">
        <div class="core-values">
            <div class="text-center">
                <img src="../../../../../assets/images/About-us/Inclusivity.svg" alt="" class="mb-2">
                <h5 class="fw-semibold">Inclusivity</h5>
                <p>We Aim To Create A Workshop Where Everyone Feels Equally Involved In And Support In All Areas Of The
                    Workplace, Regardless Of Who They Are, Where They Come From, Or What They Do.</p>
            </div>
        </div>
        <div class="core-values">
            <div class="text-center">
                <img src="../../../../../assets/images/About-us/Transparency.svg" alt="" class="mb-2">
                <h5 class="fw-semibold">Transparency</h5>
                <p>We Ensure That Maximum Transparency Is Deployed, Not Just Within Our Teams But Also, Towards Our Client.
                    Trust Is The Foremost Asset Of Our Work And We Strongly Believe In Maintaining It At All Costs.</p>
            </div>
        </div>
        <div class="core-values">
            <div class="text-center">
                <img src="../../../../../assets/images/About-us/Confidentiality.svg" alt="" class="mb-2">
                <h5 class="fw-semibold">Confidentiality & Data Privacy</h5>
                <p>We Safeguard All The Confidential Data Of All Customers And Ensure That It Is Used Only For The Reasons
                    For Which It Was Gathered And Is Only Shared With Authrized Individuals.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-primary p-4  bg-opacity-10">
    <div class="container">
  <div class="row align-items-center">
    <div class="col-sm-7">
        <div class="text-end">
            <div class="d-flex mb-2 justify-content-end gap-1">
                <img src="../../../../../assets/images/point.svg" alt="">
                <h6 class="mb-0">ABOUT US</h6>
            </div>
            <div class="h3">Work With Us</div>
            <p class="mb-2">We Are A Team Of Innovators Disrupting The AI Sphere. Want To Join In?</p>
            <button class="btn btn-primary">EXPLORE OPEN POSITIONS <i class="fa-solid fa-arrow-right ms-2"></i></button>
        </div>
    </div>
    <div class="col-sm-5">
<img src="../../../../../assets/images/About-us/user-laptop.png" alt="" height="250px">
    </div>
  </div>
    </div>
</div>