<div class="retail-banner mb-3">
  <div class="overlay"></div>
  <div class="container h-100">
    <div class="d-flex flex-column justify-content-center h-100 overlay_text">
      <h1> <span class="text-gradient">Retail</span></h1>
      <h2 class="text-white">Analytics Software</h2>
      <p class="text-white">Explore Charlie Retail Analytics Software To Enable Seamless Integration Of <br> Video
        Analytics For Retail Stores Into Your Existing Infrastructure.</p>
    </div>
  </div>
</div>
<section id="key_features_retail_software">
  <div class="container">
    <h3 class="text-center fw-bold mb-4">Key Features Of Our Retail Analytics Software</h3>
    <div class="row g-5">
      <div class="col-sm-4">
          <div class="card border-0 shadow h-100">
              <img src="../../../../../assets/images/page-retail/best-friend.png" class="img-fluid" alt="...">
              <div class="card-body">
                  <h5 class="fw-semibold">Unique Visitor Count</h5>
                  <p class="small">Gain qualitative insights such as the number of visitors on an hourly, daily,
                      or
                      monthly basis and get new sales opportunities. Figure out the best days to drive traffic
                      through
                      targeted marketing efforts.
                    </p>
              </div>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="card">
              <img src="../../../../../assets/images/page-retail/best-friend.png" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="fw-semibold">Demographic Analytics</h5>
                  <p class="small">Develop an understanding of the gender & age of your audience using statistical
                      analysis that will help in shaping marketing strategies. Identify which regions, days, and
                      months of the year see the highest growth based on the gender & age of your customers.</p>
              </div>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="card">
              <img src="../../../../../assets/images/page-retail/best-friend.png" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="fw-semibold">Occupancy Visualization</h5>
                  <p class="small">Detect the warmest place in real-time for store traffic and identify which spot
                      of the premises is/isn’t going well with the visitors. Also, identify the occupancy of your
                      retail store’s subsections to enhance staff productivity and customer experience.</p>
              </div>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="card h-100">
              <img src="../../../../../assets/images/page-retail/best-friend.png" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="fw-semibold">Premium Customer Identification</h5>
                  <p class="small">Provide a better customer experience by identifying repetitive and premium
                      customers using existing CCTV cameras. Speed up billing time for customers by analyzing
                      previous
                      purchases and providing recommendations.</p>
              </div>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="card h-100">
              <img src="../../../../../assets/images/page-retail/best-friend.png" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="fw-semibold">Queue Management</h5>
                  <p class="small">Get the estimated wait time for each person in a queue to optimize the total
                      number of queues and to reshuffle the customers between queues for quicker billing. Minimize
                      queue abandonment rate and avoid customer churn with our retail analytics solution, Charlie,
                      to
                      see a rise in ROI.</p>
              </div>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="card h-100">
              <img src="../../../../../assets/images/page-retail/best-friend.png" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="fw-semibold">Customer Journey Analytics</h5>
                  <p class="small">Analyze the complete customer journey through various touch points across all
                      channels for better decision-making. Elevate your staff management techniques and plan
                      according
                      to the insights from Charlie.</p>
              </div>
          </div>
      </div>
  </div>
  </div>
</section>

<section id="download_eguide_importance">
  <div class="container text-bg-secondary mb-3 text-dark rounded-4 p-3 bg-opacity-10">
    <h3 class="text-center fw-semibold my-4">Download The E Guide - Importance Of Retail Store Analytics</h3>
    <div class="row gx-5 align-items-center">
        <div class="col-sm-4 text-end">
            <img src="../../../../../assets/images/page-retail/retail-eguide-img1.png" alt="" class="img-fluid ">
        </div>
        <div class="col-sm-8">
            <h4 >Download E Guide</h4>
            <div class="row gy-3">
                <div class="col-sm-6">
                    <label for="exampleFormControlInput1" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="First Name">
                </div>
                <div class="col-sm-6">
                    <label for="exampleFormControlInput1" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Last Name">
                </div>
                <div class="col-sm-6">
                    <label for="exampleFormControlInput1" class="form-label">Email </label>
                    <input type="mail" class="form-control" id="exampleFormControlInput1"
                        mailto:placeholder="demo@gmail.com">
                </div>
                <div class="col-sm-6">
                    <label for="exampleFormControlInput1" class="form-label">Mobile Number </label>
                    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="1234567890">
                </div>
                <div class="col-sm-6">
                    <label for="exampleFormControlInput1" class="form-label">Company Name </label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Demo Pvt Ltd">
                </div>
                <div class="col-sm-6">
                    <label for="exampleFormControlInput1" class="form-label">Industry Type </label>
                    <input type="text" class="form-control" id="exampleFormControlInput1"
                        placeholder="Software Industry">
                </div>
                <div class="col-sm-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                        <label class="form-check-label" for="flexCheckDefault">
                            I agree with <a href="#"> Privacy Policy </a> and <a href="#"> Terms of Use</a> of using this service.
                        </label>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary rounded-pill px-5">Submit</button>
        </div>
    </div>
</div>
</section>

<section id="why-use-charlie">
  <div class="container ">
        <h3 class="fw-semibold text-center">Why Use CHARLIE As Your Retail Analytics Software</h3>
    <div class="container">
       <div class="row gx-2 gy-3 mt-4">
        <div class="col-sm-4">
          <div class="card border-0 shadow h-100">
            <div class="card-header border-0">
              <div class="d-flex align-items-center mb-2 gap-1">
                <img src="../../../../../assets/images/point.svg" alt="">
                <h6 class="card_title">BOOST CONVERSION</h6>
              </div>
            </div>
            <div class="card-body">
              <p class="form-label">Personalized shopping experiences drive engagement, increase sales, and ultimately, keep
                customers coming
                back. Our expertise in artificial intelligence and big data will help you analyze your customer journey - in
                real-time - and make decisions that lead to better conversion and lower costs.</p>
              </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-0 shadow h-100">
              <div class="card-header border-0">
                <div class="d-flex mb-2 gap-1">
                  <img src="../../../../../assets/images/point.svg" alt="">
                  <h6 class="card_title">ELEVATE YOUR BRICK-AND-MORTAR</h6>
                </div>
              </div>
              <div class="card-body">
                <p class="form-label">Personalized shopping experiences drive engagement, increase sales, and ultimately, keep customers coming
                  back. Our expertise in artificial intelligence and big data will help you analyze your customer journey - in
                  real-time - and make decisions that lead to better conversion and lower costs.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card  border-0 shadow h-100">
              <div class="card-header border-0">
                <div class="d-flex mb-2 gap-1">
                  <img src="../../../../../assets/images/point.svg" alt="">
                  <h6 class="card_title">USE AI TO IMPROVE TRANSPARENCY</h6>
              </div>
              </div>
              <div class="card-body">
                <p class="form-label">
                  Get user access in different formats to gain control over the transparent flow of data within the organization.
                  Retail stores with multiple locations can leverage the use of AI video analytics to filter any discrepancies in the
                  operational or management process.
                </p>
              </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-0 shadow h-100">
              <div class="card-header">
                <div class="d-flex mb-2 gap-1">
                  <img src="../../../../../assets/images/point.svg" alt="">
                  <h6 class="card_title">UTILIZE YOUR DATA EFFECTIVELY</h6>
              </div>
              </div>
              <div class="card-body">
                <p class="form-label">Personalized shopping experiences drive engagement, increase sales, and ultimately, keep customers coming
                  back. Our expertise in artificial intelligence and big data will help you analyze your customer journey - in
                  real-time - and make decisions that lead to better conversion and lower costs.
                </p>
              </div>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="card  border-0 shadow h-100">
              <div class="card-header">
                <div class="d-flex mb-2 gap-1">
                  <img src="../../../../../assets/images/point.svg" alt="">
                  <h6 class="card_title">PRIORITIZE LOSS PREVENTION</h6>
              </div>
              </div>
              <div class="card-body">
                <p class="form-label">Personalized shopping experiences drive engagement, increase sales, and ultimately, keep customers coming
                  back. Our expertise in artificial intelligence and big data will help you analyze your customer journey - in
                  real-time - and make decisions that lead to better conversion and lower costs.</p>
              </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card  border-0 shadow">
              <div class="card-header">
                <div class="d-flex mb-2 gap-1">
                  <img src="../../../../../assets/images/point.svg" alt="">
                  <h6 class="card_title">DETERMINE AND MANAGE THE DEMAND</h6>
              </div>
              </div>
              <div class="card-body">
                <p class="form-label">Personalized shopping experiences drive engagement, increase sales, and ultimately, keep customers coming
                  back. Our expertise in artificial intelligence and big data will help you analyze your customer journey - in
                  real-time - and make decisions that lead to better conversion and lower costs.
                </p>
              </div>
            </div>
        </div>
       </div>
    </div>
</div>
</section>
<section id="go-ahed">
    <div class="container">
      <h1 class="text-white">Get ahed in the</h1>
      <h1 class="text-main">Retail Buisness Intelligence era !</h1>
      <div class="text-end">
          <button class="btn bg-white  px-4 rounded-pill"> CONTACT US</button>
      </div>
    </div>
</section>

<section id="success-storys">
  <div class="d-flex justify-content-center my-3 gap-1">
      <img src="../../../../../assets/images/point.svg" alt="">
      <h6 class="fw-semibold mb-0">SUCCESS STORIES</h6>
  </div>
  <div class="container mb-3">
    <div class="row success-storys">
        <div class="col-sm-4">
          <div class="card border-0  shadow">
            <div class="card-body">
              <h5 class="fw-semibold">Metro Brands</h5>
              <img src="../../../../../assets/images/page-retail/customer.png" alt="" class="img-fluid">
              <p class="small">
                Transform Your Legacy Technology With AI-Enabled Processes. Witness An Imagina- ble Improvement In Your Business With The Latest Artificial Intelligence Developments.
              </p>
            </div>
            <div class="card-footer text-center border-0">
              <a href="#" class="text-decoration-none text-white">Read More<i class="fa-solid fa-arrow-right ms-2"></i></a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card border-0  shadow">
            <div class="card-body">
              <h5 class="fw-semibold">JK Cement</h5>
              <img src="../../../../../assets/images/page-retail/chef.png" alt="" class="img-fluid">
              <p class="small">
                Transform Your Legacy Technology With AI-Enabled Processes. Witness An Imagina- ble Improvement In Your Business With The Latest Artificial Intelligence Developments.
              </p>
            </div>
            <div class="card-footer text-center border-0">
              <a href="#" class="text-decoration-none text-white">Read More<i class="fa-solid fa-arrow-right ms-2"></i></a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card border-0  shadow">
            <div class="card-body">
              <h5 class="fw-semibold">JK Cement</h5>
              <img src="../../../../../assets/images/page-retail/truck.png" alt="" class="img-fluid">
              <p class="small">
                Transform Your Legacy Technology With AI-Enabled Processes. Witness An Imagina- ble Improvement In Your Business With The Latest Artificial Intelligence Developments.
              </p>
            </div>
            <div class="card-footer text-center border-0">
              <a href="#" class="text-decoration-none text-white">Read More<i class="fa-solid fa-arrow-right ms-2"></i></a>
            </div>
          </div>
        </div>
    </div>
</div>


</section>

<section id="get_in_touch">
  <div class="touch_overlay"></div>
  <div class="touch_overlay_text">
    <div class="hand-shake-banner mb-3">
      <div class="container  h-100">
        <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="fw-semibold text-white">Get in Touch</h1>
        <p class="text-white">Learn more about artificial intelligence in retail</p>
        <button class="btn bg-transparent border-white text-white px-4 rounded-pill ">
          BOOK A FREE DEMO TODAY
          <i class="fa-solid fa-arrow-right ms-2"></i>
        </button>
      </div>
    </div>

    </div>
  </div>
</section>

<section id="featured_content">
  <div class="container mb-4">
  <h4 class="fw-semibold text-center">Featured Content</h4>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
           <div class="row">
            <div class="col-sm-4">
                <img src="../../../../../assets/images/page-retail/blog-2.png" alt="" class="img-fluid">
            </div>
            <div class="col-sm-4">
                <img src="../../../../../assets/images/page-retail/blog-3.png" alt="" class="img-fluid">
            </div>
            <div class="col-sm-4">
                <img src="../../../../../assets/images/page-retail/blog-4.png" alt="" class="img-fluid">
            </div>
           </div>
          </div>
          <div class="carousel-item">
            <div class="row">
                <div class="col-sm-4">
                    <img src="../../../../../assets/images/page-retail/blog-2.png" alt="" class="img-fluid">
                </div>
                <div class="col-sm-4">
                    <img src="../../../../../assets/images/page-retail/blog-3.png" alt="" class="img-fluid">
                </div>
                <div class="col-sm-4">
                    <img src="../../../../../assets/images/page-retail/blog-4.png" alt="" class="img-fluid">
                </div>
               </div>
          </div>
          <div class="carousel-item">
            <div class="row">
                <div class="col-sm-4">
                    <img src="../../../../../assets/images/page-retail/blog-2.png" alt="" class="img-fluid">
                </div>
                <div class="col-sm-4">
                    <img src="../../../../../assets/images/page-retail/blog-3.png" alt="" class="img-fluid">
                </div>
                <div class="col-sm-4">
                    <img src="../../../../../assets/images/page-retail/blog-4.png" alt="" class="img-fluid">
                </div>
               </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
</section>

