header {
    background-color: #191838;
    color: #fff;
}

header h1 {
    font-size: 3rem;
    font-weight: 100;
}

header h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 100;
}

header h3 span {
    font-weight: 800;
}

header p {
    font-size: 0.85rem;
    font-weight: 100;
    line-height: 26px;
}

header a {
    color: #fff;
    border: solid 1px var(--main-color);
    font-size: 0.85rem;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    background: linear-gradient(to left, transparent 50%, var(--main-color) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    margin-left: 10px;
    transition: all 1s ease;
}

header a:hover {
    color: #fff;
    background-position: left bottom;
}

header video {
    width: 100%;
    height: 100%;
}

header #clients .card {
    background-color: #353B46;
    color: #fff;
    text-align: center;
}

header #clients .card:hover {
    background: var(--bg-gradient);
}

header #clients .card img {
    width: 18px;
    margin-right: 5px;
}

header #clients .card p {
    margin-bottom: 0px;
}

header #statistics {
    padding-block: 3rem;
}

header #statistics .card {
    background-color: transparent;
    border: none;
}

header #statistics .card:hover {
    background-color: #07062B;
}

header #statistics img {
    height: 30px;
    margin-bottom: 1rem;
    margin-right: auto;
}

header #statistics img.point {
    height: 20px;
    margin: 0;
}

header #statistics h5 {
    margin-bottom: 0rem;
}

header #statistics p {
    font-size: 0.85rem;
    margin-bottom: 0rem;
}

section {
    padding-block: 3rem;
}

#what-we-do {
    background-color: #EEF9FD;
}

#what-we-do h3,
#what-we-do h6 {
    font-weight: 600;
    margin-bottom: 1rem;
}

#what-we-do p {
    font-size: 0.85rem;
    line-height: 1.7rem;
}

#what-we-do a {
    font-size: 0.85rem;
    background: var(--bg-gradient);
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
}

#what-we-do #carouselCharlie img {
    width: 100%;
    height: 350px;
}