<header class="">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-5">
                <h1>Transform Peripheral CCTV Footage</h1>
                <h3>Into <span class="text-gradient">Actionable Insights</span></h3>
                <p>Enhance Customer Experience, Ensure Safety, And Improve Operational Efficiency With CHARLIE, The Best
                    Video Analytica Software.</p>
                <div class="d-flex gap-4 flex-column flex-lg-row">
                    <a href="#">Watch Product Video</a>
                    <a href="#">Book a Free Demo</a>
                </div>
            </div>
            <div class="col-sm-7">
                <video autoplay loop muted>
                    <source src="assets/images/home/AI-CCTV.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
    <div class="card-group" id="clients">
        <div class="card border-white border-start-0 rounded-0">
            <div class="card-body">
                <h5>
                    <img src="assets/images/home/metro.svg">
                    METRO
                </h5>
                <p>Retail</p>
            </div>
        </div>
        <div class="card border-white">
            <div class="card-body">
                <h5>
                    <img src="assets/images/home/metro.svg">
                    JKCement
                </h5>
                <p>Manufacturing</p>
            </div>
        </div>
        <div class="card border-white">
            <div class="card-body">
                <h5>
                    <img src="assets/images/home/metro.svg">
                    Wework
                </h5>
                <p>Infrastructure</p>
            </div>
        </div>
        <div class="card border-white">
            <div class="card-body">
                <h5>
                    <img src="assets/images/home/metro.svg">
                    TFS
                </h5>
                <p>Hospitality</p>
            </div>
        </div>
        <div class="card border-white border-end-0 rounded-0">
            <div class="card-body">
                <h5>
                    <img src="assets/images/home/metro.svg">
                    METRO
                </h5>
                <p>Public Sector</p>
            </div>
        </div>
    </div>
    <div class="container" id="stats">
        <div class="row justify-content-center">
            <div class="col-sm-6 text-center">
                <div class="d-flex justify-content-center">
                    <img src="assets/images/point-dark.svg" class="point">
                    STAQU AT A GLANCE
                </div>
                <p class="mb-4">
                    Fueled With Artificial Intelligence, Patented Technologies And Unique Capabilities, CHARLIE Offers
                    Innovation For Security And The Best Possible Solution For Business.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 border-end border-secondary">
                <div class="ps-4">
                    <img src="assets/images/home/Clients-Served.svg">
                    <h5>100+</h5>
                    <p>Clients Served</p>
                </div>
            </div>
            <div class="col-sm-3 border-end border-secondary">
                <div class="ps-4">
                    <img src="assets/images/home/Cameras_With_Video_Analytics.svg">
                    <h5>25K+</h5>
                    <p>Cameras With Video Analytics</p>
                </div>
            </div>
            <div class="col-sm-3 border-end border-secondary">
                <div class="ps-4">
                    <img src="assets/images/home/Real_Time.svg">
                    <h5>5M+</h5>
                    <p>Real Time Alerts Are Processed.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ps-4">
                    <img src="assets/images/home/Research_Papers.svg">
                    <h5>25+</h5>
                    <p>Research Papers Published</p>
                </div>
            </div>
        </div>
    </div>
</header>