<!-- <p>public-sector works!</p> -->
<section id="banner-content">
  <div class="overlay"></div>
  <div class="container h-100">
    <div class="d-flex flex-column h-100 justify-content-center text-overlay">
      <h1>Artificial Intelligence For Public Sector</h1>
      <p class="small">
        We help the public sector, including government agencies such as the Army, Police, Prisons, and more, to create
        a transparent, data-centric culture using our video analytics solution.
      </p>
    </div>
  </div>
</section>

<section id="key_features">
  <div class="container">
    <h1 class="text-center">Key Features Of Our Artificial Intelligence for Public Sector</h1>
    <div class="row gy-5 gx-5">
      <div class="col-sm-4">
        <div class="card border-0 shadow h-100">
          <div class="card-header border-0">
            <img src="../../../../../assets/images/industries_we_serve/mumbai-skyline-skyscrapers-construction.png"
              alt="" class="img-fluid rounded">
          </div>
          <div class="card-body">
            <h6 class="fw-bold">Violence Detection</h6>
            <p class="small">
              Help law enforcement organizations in tracking any incident of violence within any specific area. A
              real-time identification of such an occurrence can assist the Police in mobilizing personnel to contain
              any potential dangers to human life and property and to prevent any further escalation of the event.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-0 shadow h-100">
          <div class="card-header border-0">
            <img src="../../../../../assets/images/industries_we_serve/mumbai-skyline-skyscrapers-construction.png"
              alt="" class="img-fluid rounded">
          </div>
          <div class="card-body">
            <h6 class="fw-bold">Automatic Number Plate Recognition</h6>
            <p class="small">
              Identify vehicles’ number plates automatically to improve security & manage vehicle access to government
              premises. Help analyze end users of Charlie to tag a vehicle of interest, to identify their routes, last
              location, etc., through existing infrastructure such as CCTV cameras.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-0 shadow h-100">
          <div class="card-header border-0">
            <img src="../../../../../assets/images/industries_we_serve/mumbai-skyline-skyscrapers-construction.png"
              alt="" class="img-fluid rounded">
          </div>
          <div class="card-body">
            <h6 class="fw-bold">Crowd Detection</h6>
            <p class="small">
              Avoid potential threats in any location by analyzing video feeds through our AI- powered video management
              system and receive real-time alerts for the same. During the time of any potential protest building up at
              any location, get situational awareness in real-time.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-0 shadow h-100">
          <div class="card-header border-0">
            <img src="../../../../../assets/images/industries_we_serve/mumbai-skyline-skyscrapers-construction.png"
              alt="" class="img-fluid rounded">
          </div>
          <div class="card-body">
            <h6 class="fw-bold">Facial Recognition</h6>
            <p class="small">
              Identify criminals flagged in the existing database at any location using FR and make criminal search
              significantly effortless. Also, analyze visitor management in prisons and other government spaces to avoid
              any unwanted activities
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-0 shadow h-100">
          <div class="card-header border-0">
            <img src="../../../../../assets/images/industries_we_serve/mumbai-skyline-skyscrapers-construction.png"
              alt="" class="img-fluid rounded">
          </div>
          <div class="card-body">
            <h6 class="fw-bold">SOS Detection</h6>
            <p class="small">
              Specify an event as SOS detection and get alerted if there is a need for a call to action. Authorities can
              get notified instantly and make real-time decisions to save any person and avoid any unruly event.
              premise.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-0 shadow h-100">
          <div class="card-header border-0">
            <img src="../../../../../assets/images/industries_we_serve/mumbai-skyline-skyscrapers-construction.png"
              alt="" class="img-fluid rounded">
          </div>
          <div class="card-body">
            <h6 class="fw-bold">Intrusion Detection</h6>
            <p class="small">
              Get real-time alerts for any intrusion along with footage of the incident allowing rapid verification of
              the source and taking action on the same. Enhance perimeter security by implementing artificial
              intelligence for public sector.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="why_use_charlie">
  <div class="container">
    <h1 class="text-center">Why use Charlie for Artificial Intelligence for Public Sector</h1>
    <div class="row gy-5 gx-5">
      <div class="col-sm-4">
        <div class="card card-body border-0 shadow h-100">
          <div class="d-flex align-items-start gap-3">
            <img src="../../../../../assets/images/point.svg" alt="" class="img-fluid">
            <div class="d-flex flex-column">
              <h6 class="fw-bold">Digitize your public services</h6>
              <p class="small">
                By replacing paper and pencil and outdated systems, Charlie can assist you in automating 98% of your
                human processes and saving up to 40% of the costs involved. On activities like manual CCTV video
                surveillance and related services, you'll be able to recover valuable time and resources, and the public
                sector will gain from the availability of services around-the-clock.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-body border-0 shadow h-100">
          <div class="d-flex align-items-start gap-3">
            <img src="../../../../../assets/images/point.svg" alt="" class="img-fluid">
            <div class="d-flex flex-column">
              <h6 class="fw-bold">Optimize and automate processes</h6>
              <p class="small">
                Digitally transform operations, services, internal communications, and engagement with citizens by
                replacing critical manual processes with automated workflows, transparent information exchange,
                centralized command centers, etc.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-body border-0 shadow h-100">
          <div class="d-flex align-items-start gap-3">
            <img src="../../../../../assets/images/point.svg" alt="" class="img-fluid">
            <div class="d-flex flex-column">
              <h6 class="fw-bold">Create a frictionless agency</h6>
              <p class="small">
                Instead of relying solely on statistics, you can observe the wider picture offered by data insights in
                real-time by integrating CHARLIE video analytics solution at the center of your government agency. This
                ultimately means that you may accomplish your policy objectives far more quickly.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-body border-0 shadow h-100">
          <div class="d-flex align-items-start gap-3">
            <img src="../../../../../assets/images/point.svg" alt="" class="img-fluid">
            <div class="d-flex flex-column">
              <h6 class="fw-bold">Unify and maximize your data</h6>
              <p class="small">
                We’ll help you utilize your big data with our video analytics solution and provide robust government software solutions that turn insights into smarter planning and strategy.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-body border-0 shadow h-100">
          <div class="d-flex align-items-start gap-3">
            <img src="../../../../../assets/images/point.svg" alt="" class="img-fluid">
            <div class="d-flex flex-column">
              <h6 class="fw-bold">Capitalize on new trends & opportunities</h6>
              <p class="small">
                Utilizing cutting-edge technical innovation in the public sector, like artificial intelligence, video and audio data analytics, etc., provide quick and efficient public service.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-body border-0 shadow h-100">
          <div class="d-flex align-items-start gap-3">
            <img src="../../../../../assets/images/point.svg" alt="" class="img-fluid">
            <div class="d-flex flex-column">
              <h6 class="fw-bold">Maximize value chain and optimize costs</h6>
              <p class="small">
                Maximize value addition in public sector services through technological advancements. We help government agencies better serve the citizens while lowering administrative costs and optimizing spending.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="impact_infrastructure">
  <div class="container">
    <div class="card card-body border-0 shadow">
      <h2 class="text-center">Impact of Artificial Intelligence for Public Sector</h2>
      <div class="row align-items-center">
        <div class="col-sm-8">
          <ul class="list-unstyled">
            <li>
              <div class="d-flex gap-2">
                <span>&#8594;</span>
                <span>Brings transparency in the systems/processes e.g., Charlie automation for Election Counting.</span>
              </div>
            </li>
            <li>
              <div class="d-flex gap-2">
                <span>&#8594;</span>
                <span>Maintain centralized and digital criminal records for smooth & quick investigations Expedite investigations and capture criminals and suspects through smart criminal search, speaker identification, facial recognition & news analysis technologies.</span>
              </div>
            </li>

            <li>
              <div class="d-flex gap-2">
                <span>&#8594;</span>
                <span>Aggregate News data from multiple sources and assign multiple tags to news content for rapid data analysis and search capabilities.</span>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-sm-4">
          <img src="../../../../../assets/images/industries_we_serve/mumbai-skyline-skyscrapers-construction.png" alt=""
            class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
<section id="our_clients">
  <div class="container">
    <h2 class="text-center">Our Clients</h2>
    <div class="row align-items-center">
      <div class="col-sm-3">
        <img src="../../../../../assets/images/industries_we_serve/Tech_Mahindra_New_Logo.svg.png" alt=""
          class="img-fluid">
      </div>
      <div class="col-sm-3">
        <img src="../../../../../assets/images/industries_we_serve/microsoft-vector-logo.png" alt="" class="img-fluid">
      </div>
      <div class="col-sm-3">
        <img src="../../../../../assets/images/industries_we_serve/logo-intel-free-hq-image.png" alt=""
          class="img-fluid">
      </div>
      <div class="col-sm-3">
        <img src="../../../../../assets/images/industries_we_serve/raymond.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>

</section>
<section id="book_demo">
  <div class="container">
    <h1>Employ  artificial intelligence for public sector now!</h1>
    <div class="float-end">
      <button class="bg-white rounded-pill py-2 px-5 border-0 d-flex align-items-center gap-3">
        <span>Contact US</span>
         <i class="fa-solid fa-greater-than"></i>
        </button>
    </div>
  </div>
</section>

<section id="testimonials">
  <div class="container">
    <div class="d-flex align-items-center justify-content-center">
      <img src="../../../../../assets/images/point.svg" alt="" class="img-fluid">
      <h2>Testimonials</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <div class="d-flex align-items-center">
          <img src="../../../../../assets/images/industries_we_serve/ai_squre_img.png" alt="" class="img-fluid ai_img">
          <div class="card card-body shadow">
            <div id="carouselExampleIndicators" class="carousel slide">
              <div class="carousel-indicators mb-0 mt-5">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="d-flex align-items-center gap-3 mb-4">
                    <img src="../../../../assets/images/contact-us-images/user.jpg" class="d-block w-100 profile-img"
                      alt="...">
                    <div class="d-flex flex-column">
                      <div class="text-gradient">Mr. Jitendra Singh</div>
                      <div>Group CIO, JK Super Cement</div>
                    </div>
                  </div>
                  <p>
                    We have already closed 10-12 features and we are looking for 25 more. Charlie has made our process
                    more fluid, safe and efficient.
                  </p>
                </div>
                <div class="carousel-item ">
                  <div class="d-flex align-items-center gap-3 mb-4">
                    <img src="../../../../assets/images/contact-us-images/user.jpg" class="d-block w-100 profile-img"
                      alt="...">
                    <div class="d-flex flex-column">
                      <div class="text-gradient">Mr. Jitendra Singh</div>
                      <div>Group CIO, JK Super Cement</div>
                    </div>
                  </div>
                  <p>
                    We have already closed 10-12 features and we are looking for 25 more. Charlie has made our process
                    more fluid, safe and efficient.
                  </p>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="success_stories">
  <div class="container">
    <!-- <div class="d-flex align-items-center justify-content-center">
      <img src="../../../../../assets/images/point.svg" alt="" class="img-fluid">
      <h2>Success Stories</h2>
    </div>
    <div class="row justify-content-center success_stories_slider">
      <div class="col-sm-6">
        <div class="card card-body p-0">
          <img src="../../../../../assets/images/industries_we_serve/metro_brands.png" alt="" class="img-fluid">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card card-body p-0">
          <img src="../../../../../assets/images/industries_we_serve/metro_brands.png" alt="" class="img-fluid">
        </div>
      </div>
    </div> -->
    <div class="text-center my-3">
      - <div class="d-flex align-items-center justify-content-center">
        <img src="../../../../../assets/images/point.svg" alt="" class="img-fluid">
        <h2>Success Stories</h2>
      </div>
    </div>
    <div class="container mb-4">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row g-3">
              <div class="col-sm-6">
                <img src="../../../../../assets/images/page-retail/blog-2.png" alt="" class="img-fluid">
              </div>
              <div class="col-sm-6">
                <img src="../../../../../assets/images/page-retail/blog-3.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row g-3">
              <div class="col-sm-6">
                <img src="../../../../../assets/images/page-retail/blog-2.png" alt="" class="img-fluid">
              </div>
              <div class="col-sm-6">
                <img src="../../../../../assets/images/page-retail/blog-3.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <!-- <div class="carousel-item">
              <div class="row">
                  <div class="col-sm-4">
                      <img src="../../../../../assets/images/page-retail/blog-2.png" alt="" class="img-fluid">
                  </div>
                  <div class="col-sm-4">
                      <img src="../../../../../assets/images/page-retail/blog-3.png" alt="" class="img-fluid">
                  </div>
                  <div class="col-sm-4">
                      <img src="../../../../../assets/images/page-retail/blog-4.png" alt="" class="img-fluid">
                  </div>
                 </div>
            </div> -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</section>

<section id="contactus">
  <!-- <img src="../../../../../assets/images/industries_we_serve/mumbai-skyline-skyscrapers-construction.png" alt="" class="img-fluid">
  <div class="contact_overlay">
    <div class="d-flex flex-column align-items-center justify-content-center h-100">
      <h1>Minimize human error with our industry- <br> leading video analytics solution.</h1>
      <button class="btn btn-primary rounded-pill">Contact US</button>
    </div>
  </div> -->
  <div class="contact_overlay">
    <div class="d-flex flex-column align-items-center justify-content-center h-100 contact_overlay_text">
      <h1 class="mb-5">Explore the benefits of our <br> video analytics solution</h1>
      <button class="bg-transparent border-white text-white rounded-pill px-5 py-2 d-flex align-items-center gap-3">
        <span>Book A Free Demo Today !</span>
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
  </div>
</section>

<section id="featured_content">
  <div class="text-center my-3">
    <h4 class="fw-semibold">Featured Content</h4>
  </div>
  <div class="container mb-4">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row g-3">
            <div class="col-sm-4">
              <img src="../../../../../assets/images/page-retail/blog-2.png" alt="" class="img-fluid">
            </div>
            <div class="col-sm-4">
              <img src="../../../../../assets/images/page-retail/blog-3.png" alt="" class="img-fluid">
            </div>
            <div class="col-sm-4">
              <img src="../../../../../assets/images/page-retail/blog-4.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-sm-4">
              <img src="../../../../../assets/images/page-retail/blog-2.png" alt="" class="img-fluid">
            </div>
            <div class="col-sm-4">
              <img src="../../../../../assets/images/page-retail/blog-3.png" alt="" class="img-fluid">
            </div>
            <div class="col-sm-4">
              <img src="../../../../../assets/images/page-retail/blog-4.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-sm-4">
              <img src="../../../../../assets/images/page-retail/blog-2.png" alt="" class="img-fluid">
            </div>
            <div class="col-sm-4">
              <img src="../../../../../assets/images/page-retail/blog-3.png" alt="" class="img-fluid">
            </div>
            <div class="col-sm-4">
              <img src="../../../../../assets/images/page-retail/blog-4.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
