<section id="publication_banner_content">
  <div class="overlay"></div>
  <div class="container h-100">
    <div class="d-flex flex-column h-100 justify-content-center text-overlay">
      <div>Publications</div>
      <p class="small">
        Insights To Staqu's Publications Shedding Light On Our Research Work
      </p>
    </div>
  </div>
</section>

<section id="our_publication">
  <div class="container">
    <div class="d-flex align-items-center justify-content-center w-100 my-2">
      <img src="../../../../../assets/images/point.svg" alt="" class="img-fluid">
      <h6 class="mb-0">PUBLICATIONS</h6>
    </div>
    <h1 class="text-center">Our Publications</h1>
    <div class="row g-5">
      <div class="col-sm-4">
        <div class="card p-0 shadow">
          <div class="card-body">
            <img src="../../../../../assets/images/insigts-and-resorces/Frequency_ Temporal_Convolutional.png" alt="" class="img-fluid freq_mod_img">
            <div class="d-flex align-items-center gap-3 text-muted my-2">
              <img src="../../../../../assets/images/insigts-and-resorces/event.svg" alt="" class="img-fluid calendar_img">
              <h6 class="mb-0">Jan 2020</h6>
            </div>
            <h6 class="fw-bold">
              Frequency And Temporal Convolutional Attention For Text-Independent Speaker Recognition
            </h6>
            <p class="small mb-0">
              Majority Of The Recent Approaches For Text…
            </p>
            <p class="small mb-0">
              S. Yadav And A. Rai, Accepted For Presentation At ICASSP 2020
            </p>
          </div>
          <div class="card-footer border-0">
            <div class="text-center">Learn More</div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card p-0 shadow">
          <div class="card-body">
            <img src="../../../../../assets/images/insigts-and-resorces/Exploiting_Texture_Cues_For_Clothing.png" alt="" class="img-fluid freq_mod_img">
            <div class="d-flex align-items-center gap-3 text-muted my-2">
              <img src="../../../../../assets/images/insigts-and-resorces/event.svg" alt="" class="img-fluid calendar_img">
              <h6 class="mb-0">Jan 2020</h6>
            </div>
            <h6 class="fw-bold">
              Diversity In Fashion Recommendation Using Semantic Parsing
            </h6>
            <p class="small mb-0">
              Developing Recommendation System For Fashion Images Is Challenging Due To The Inherent…
            </p>
            <p class="small mb-0">
              S. Verma, S. Anand, C. Arora, And A. Rai, Proc. ICIP 2018, IEEE
            </p>
          </div>
          <div class="card-footer border-0">
            <div class="text-center">Learn More</div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card p-0 shadow">
          <div class="card-body">
            <img src="../../../../../assets/images/insigts-and-resorces/Diversity-In-Fashion.png" alt="" class="img-fluid freq_mod_img">
            <div class="d-flex align-items-center gap-3 text-muted my-2">
              <img src="../../../../../assets/images/insigts-and-resorces/event.svg" alt="" class="img-fluid calendar_img">
              <h6 class="mb-0">Jan 2020</h6>
            </div>
            <h6 class="fw-bold">
              Exploiting Texture Cues For Clothing Parsing In Fashion Images
            </h6>
            <p class="small mb-0">
              Exploiting The Texture For Recognizing The Clothing Type…
            </p>
            <p class="small mb-0">
              T. Khurana, K. Mahajan, C. Arora, And A. Rai, Proc. ICIP 2018, IEEE
            </p>
          </div>
          <div class="card-footer border-0">
            <div class="text-center">Learn More</div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card p-0 shadow">
          <div class="card-body">
            <img src="../../../../../assets/images/insigts-and-resorces/speaker-identification-1024x538.png" alt="" class="img-fluid freq_mod_img">
            <div class="d-flex align-items-center gap-3 text-muted my-2">
              <img src="../../../../../assets/images/insigts-and-resorces/event.svg" alt="" class="img-fluid calendar_img">
              <h6 class="mb-0">Jan 2020</h6>
            </div>
            <h6 class="fw-bold">
              Learning Discriminative Features For Speaker Identification And Verification
            </h6>
            <p class="small mb-0">
              The Success Of Any Text Independent Speaker Identification And/Or Verification System…
            </p>
            <p class="small mb-0">
              T. Khurana, K. Mahajan, C. Arora, And A. Rai, Proc. ICIP 2018, IEEE
            </p>
          </div>
          <div class="card-footer border-0">
            <div class="text-center">Learn More</div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card p-0 shadow">
          <div class="card-body">
            <img src="../../../../../assets/images/insigts-and-resorces/Diversity-In-Fashion.png" alt="" class="img-fluid freq_mod_img">
            <div class="d-flex align-items-center gap-3 text-muted my-2">
              <img src="../../../../../assets/images/insigts-and-resorces/event.svg" alt="" class="img-fluid calendar_img">
              <h6 class="mb-0">Jan 2020</h6>
            </div>
            <h6 class="fw-bold">
              Diversity In Fashion Recommendation Using Semantic Parsing
            </h6>
            <p class="small mb-0">
              Developing Recommendation System For Fashion Images Is Challenging Due To The Inherent…
            </p>
            <p class="small mb-0">
              S. Verma, S. Anand, C. Arora, And A. Rai, Proc. ICIP 2018, IEEE
            </p>
          </div>
          <div class="card-footer border-0">
            <div class="text-center">Learn More</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<section id="our_patents">
  <div class="container">
    <div class="d-flex align-items-center justify-content-center w-100">
      <img src="../../../../../assets/images/point.svg" alt="" class="img-fluid">
      <h6>PUBLICATIONS</h6>
    </div>
    <h1 class="text-center">Our Patents</h1>
    <div class="row g-5">
      <div class="col-sm-6">
        <div class="card border-0 shadow">
          <div class="card-body">
            <img src="../../../../../assets/images/insigts-and-resorces/Diversity-In-Fashion.png" alt="" class="img-fluid card-banner-img">
            <div class="d-flex align-items-center gap-3 text-muted my-2">
              <img src="../../../../../assets/images/insigts-and-resorces/event.svg" alt="" class="img-fluid calendar_img">
              <h6 class="mb-0">Jan 2020</h6>
            </div>
            <div class="description">
              <h6 class="fw-bold">
                Large Scale Image Retrieval Based On Image And Sketch Based Queries
              </h6>
              <p class="small">
                <span>AI</span>KERNEL TECHNOLOGIES PVT LIMITED
              </p>
            </div>
          </div>
          <div class="card-footer border-0">
            <div class="text-center">Learn More</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card border-0 shadow">
          <div class="card-body">
            <img src="../../../../../assets/images/insigts-and-resorces/Diversity-In-Fashion.png" alt="" class="img-fluid card-banner-img">
            <div class="d-flex align-items-center gap-3 text-muted my-2">
              <img src="../../../../../assets/images/insigts-and-resorces/event.svg" alt="" class="img-fluid calendar_img">
              <h6 class="mb-0">Jan 2020</h6>
            </div>
            <div class="description">
              <h6 class="fw-bold">
                Large Scale Image Retrieval Based On Image And Sketch Based Queries
              </h6>
              <p class="small">
                <span>AI</span>KERNEL TECHNOLOGIES PVT LIMITED
              </p>
            </div>
          </div>
          <div class="card-footer border-0">
            <div class="text-center">Learn More</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
