<section id="charlie_media_banner">
  <div class="container-fluid p-0">
    <div class="row gx-0">
      <div class="col-sm-7">
        <section id="banner_img_left_side">
          <div class="overlay_banner"></div>

        </section>
      </div>
      <div class="col-sm-5" id="banner_right_side">
        <div class="right_side_overlay"></div>
        <div class="container h-100">
          <div class="d-flex flex-column align-items-start justify-content-center h-100 text-overlay">
            <h6>23/05/2018</h6>
            <p class="small">
              Indian Startup Staqu Signs Mou With Dubai Police To Fight Crimes With Advance AI
            </p>
            <p class="small">
              "We Are Humbled To Be Selected By Dubai Police In Its Strive For Reducing Crimes In The City. We Started
              AIkernel Three Years Ago, With The Vision Of Solving Real-World...Know More
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="charlie_media_carousel">
  <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-sm-6">
              <div class="d-flex gap-3">
                <div class="flex-shrink-0">
                  <img
                    src="../../../../assets/images/charlie_in_media/embassy1.png"
                    alt="..." class="img-fluid">
                </div>
                <div class="d-flex flex-column">
                  <h6>Embassy Group To Use AIkernel AI Platform Charlie Across Its Properties</h6>
                  <p class="small">
                    AIkernel Has Announced Partnership With Embassy Group, One Of India's Leading Real Estate Develoment
                    Firms. Follo...Know More
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="d-flex gap-3">
                <div class="flex-shrink-0">
                  <img
                    src="../../../../assets/images/charlie_in_media/embassy.jpg"
                    alt="..." class="img-fluid">
                </div>
                <div class="d-flex flex-column">
                  <h6>Embassy Group To Use AIkernel AI Platform Charlie Across Its Properties</h6>
                  <p class="small">
                    AIkernel Has Announced Partnership With Embassy Group, One Of India's Leading Real Estate Develoment
                    Firms. Follo...Know More
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="row">
            <div class="col-sm-6">
              <div class="d-flex gap-3">
                <div class="flex-shrink-0">
                  <img
                    src="../../../../assets/images/charlie_in_media/embassy1.png"
                    alt="..." class="img-fluid">
                </div>
                <div class="d-flex flex-column">
                  <h6>Embassy Group To Use AIkernel AI Platform Charlie Across Its Properties</h6>
                  <p class="small">
                    AIkernel Has Announced Partnership With Embassy Group, One Of India's Leading Real Estate Develoment
                    Firms. Follo...Know More
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="d-flex gap-3">
                <div class="flex-shrink-0">
                  <img
                    src="../../../../assets/images/charlie_in_media/embassy.jpg"
                    alt="..." class="img-fluid">
                </div>
                <div class="d-flex flex-column">
                  <h6>Embassy Group To Use AIkernel AI Platform Charlie Across Its Properties</h6>
                  <p class="small">
                    AIkernel Has Announced Partnership With Embassy Group, One Of India's Leading Real Estate Develoment
                    Firms. Follo...Know More
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>

<section id="gallery">
  <div class="container">
    <h1>Gallery</h1>
    <div id="carouselExampleIndicatorsg" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicatorsg" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicatorsg" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicatorsg" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row g-3">
            <div class="col-sm-6">
              <img
                src="../../../../assets/images/charlie_in_media/JARVIS-inaugration-3-scaled.jpg"
                alt="big_img" class="img-fluid">
            </div>
            <div class="col-sm-6">
              <div class="row g-3">
                <div class="col-sm-12">
                  <div class="right_upper_img">
                    <img
                      src="../../../../assets/images/charlie_in_media/JARVIS-inaugration-2-scaled.jpg"
                      alt="" class="img-fluid">
                  </div>
                </div>
                <div class="col-sm-6">
                  <img
                    src="../../../../assets/images/charlie_in_media/JARVIS-inaugration-4-scaled.jpg"
                    alt="" class="img-fluid">
                </div>
                <div class="col-sm-6">
                  <img
                    src="../../../../assets/images/charlie_in_media/JARVIS-inaugration-1-scaled.jpg"
                    alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
          <div class="charlie_goes_live">
            <div class="row align-items-center">
              <div class="col-sm-4">
                <h6 class="fw-bold"><span>AI</span>kernel <span>Charlie</span> Goes Live In Uttar Pradesh</h6>
              </div>
              <div class="col-sm-8">
                <p class="small">
                  AIkernel Has Established AI-Powered Video Analytics Solution With A Video Wall That Covers Cctv Footage From
                  All
                  Of 71 Prisons Of Uttar Pradesh, Covering A Stretch Of 900K<. The AI-Powered Videi Analytics Tool Is Now Live
                    With 700 Cameras From 71 Prisons For Multi-Purpose Analytics And Can Automatically Analyse Intrusion At
                    The Wall, Frisking, And Unauthorised Access, Sudden Increase Of Crowd, Violence, Camera Not Working, And
                    Intrusion Detection, Amongst Others. </p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="carousel-inner">
        <div class="carousel-item">
          <div class="row g-3">
            <div class="col-sm-6">
              <img
                src="../../../../assets/images/charlie_in_media/JARVIS-inaugration-3-scaled.jpg"
                alt="big_img" class="img-fluid">
            </div>
            <div class="col-sm-6">
              <div class="row g-3">
                <div class="col-sm-12">
                  <div class="right_upper_img">
                    <img
                      src="../../../../assets/images/charlie_in_media/JARVIS-inaugration-2-scaled.jpg"
                      alt="" class="img-fluid">
                  </div>
                </div>
                <div class="col-sm-6">
                  <img
                    src="../../../../assets/images/charlie_in_media/JARVIS-inaugration-4-scaled.jpg"
                    alt="" class="img-fluid">
                </div>
                <div class="col-sm-6">
                  <img
                    src="../../../../assets/images/charlie_in_media/JARVIS-inaugration-1-scaled.jpg"
                    alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
          <div class="charlie_goes_live">
            <div class="row align-items-center">
              <div class="col-sm-4">
                <h6 class="fw-bold"><span>AI</span>kernel <span>Charlie</span> Goes Live In Uttar Pradesh</h6>
              </div>
              <div class="col-sm-8">
                <p class="small">
                  AIkernel Has Established AI-Powered Video Analytics Solution With A Video Wall That Covers Cctv Footage From
                  All
                  Of 71 Prisons Of Uttar Pradesh, Covering A Stretch Of 900K<. The AI-Powered Videi Analytics Tool Is Now Live
                    With 700 Cameras From 71 Prisons For Multi-Purpose Analytics And Can Automatically Analyse Intrusion At
                    The Wall, Frisking, And Unauthorised Access, Sudden Increase Of Crowd, Violence, Camera Not Working, And
                    Intrusion Detection, Amongst Others. </p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicatorsg"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicatorsg"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>

<section id="video">
  <div class="container">
    <h1>Video</h1>
    <div class="row g-3">
      <div class="col-sm-5">
        <div class="left_side_video">
          <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="video_list">
          <h6>TV Web Casts</h6>
          <span class="small">Playing Video 1 out of 4</span>
          <ul class="right_side_video_list list-unstyled">
            <li>
              <div class="d-flex gap-2 w-100">
                <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY">
                </iframe>
                <div class="d-flex flex-column h-100 w-100">
                  <div class="video_title small">C# Tutorials</div>
                  <div class="small text-end text-muted">1-1-2024</div>
                </div>
              </div>
            </li>
            <li>
              <div class="d-flex gap-2 w-100">
                <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY">
                </iframe>
                <div class="d-flex flex-column h-100 w-100">
                  <div class="video_title small">Unlocking the power of Video Analytics | Fireide chat with Embassy Groups & CHayyos CTO</div>
                  <div class="small text-end text-muted">1-1-2024</div>
                </div>
              </div>
            </li>
            <li>
              <div class="d-flex gap-2 w-100">
                <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY">
                </iframe>
                <div class="d-flex flex-column h-100 w-100">
                  <div class="video_title small">Unlocking the power of Video Analytics | Fireide chat with Embassy Groups & CHayyos CTO</div>
                  <div class="small text-end text-muted">1-1-2024</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
