<footer>
    <div class="container">
        <div class="row border-bottom mb-3">
            <div class="col-sm-5">
                <div class="d-flex align-items-center gap-2 mb-3">
                    <img src="assets/images/home/point-dark.svg">
                    <h4 class="mb-0"><span class="text-gradient">AI</span> Kernel</h4>
                </div>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                    with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>

                <h5>Address :</h5>
                <p>7th Floor, Cybernex, 399, Shankar Sheth Rd, Swargate, Pune, Maharashtra 411037</p>
            </div>
            <div class="col-sm-3">
                <h5>Categories</h5>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Integrations</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h5>Newsletter</h5>
                <p>Sign Up to be the first to receive the latest stories, inspiring case studies and industry news.</p>
                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <i class="fa-regular fa-user"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Your Name">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <i class="fa-regular fa-envelope"></i>
                    </span>
                    <input type="email" class="form-control" placeholder="Email ID">
                </div>
                <button type="button" class="btn btn-secondary">Subscribe</button>
            </div>
        </div>
        <div class="row justify-content-between pb-3 align-items-center" id="bottom">
            <div class="col-sm-4">
                <div class="d-flex gap-1 align-items-center">
                    <span class="text-gradient copy">©</span>
                    <span class="text-secondary">2023 Created by</span>
                    <span><a href="https://shauryatechnosoft.com/">Shaurya Technosoft Pvt. Ltd.</a></span>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="d-flex justify-content-between">
                    <a href="#">
                        <i class="fa-brands fa-facebook-f"></i>
                        Facebook
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-x-twitter"></i>
                        X (Twitter)
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-instagram"></i>
                        Instagram
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-linkedin-in"></i>
                        LinkedIn
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>