<!-- <p>success-stories works!</p> -->
<section id="success_stories">
  <div class="banner_overlay"></div>
  <div class="container h-100">

    <div class="d-flex flex-column justify-content-center h-100 banner_overlay_text">
      <h1>Customer Success Stories</h1>
      <p>
        It Will Take Several Days To Write Such A Story. In Exchange <br> There Will Be Several Hundred Qualified Leads
      </p>
    </div>
  </div>
</section>
<section id="success_stories_videos">
  <div class="container">
    <div class="d-flex align-items-center justify-content-center gap-2">
      <img src="../../../../assets/images/point.svg" alt="" class="img-fluid">
      <h6 class="mb-0">Success Stories</h6>
    </div>
    <h1 class="text-center my-5">Here’s How CHARLIE Delivers Customer Success</h1>
    <div class="row">
      <div class="col-sm-4">
        <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY" class="img-fluid w-100">
        </iframe>
      </div>
      <div class="col-sm-4">
        <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY" class="img-fluid w-100">
        </iframe>
      </div>
      <div class="col-sm-4">
        <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY" class="img-fluid w-100">
        </iframe>
      </div>
    </div>
  </div>
</section>
<section id="success_stories_digital_innovation">
  <div class="container">
    <div class="d-flex align-items-center justify-content-center gap-2">
      <img src="../../../../assets/images/point.svg" alt="" class="img-fluid">
      <h6 class="mb-0">Success Stories</h6>
    </div>
    <div class="digital_innovation_title">
      Explore How CHARLIE Has Helped Its Clients Achieve Their Vision Of Digital Innovation.
    </div>
    <div class="row gx-1 digital_innovation_sectors my-4">
      <div class="col-sm border-end">
        <div class="d-flex flex-column align-items-center gap-0">
          <img src="../../../../assets/images/success_stories/Manufacturing.svg" alt="" class="img-fluid">
          <p>All Industries</p>
        </div>
      </div>
      <div class="col-sm border-end">
        <div class="d-flex flex-column align-items-center  gap-0">
          <img src="../../../../assets/images/success_stories/Retail.svg" alt="" class="img-fluid">
          <p>All Industries</p>
        </div>
      </div>
      <div class="col-sm border-end">
        <div class="d-flex flex-column align-items-center  gap-0">
          <img src="../../../../assets/images/success_stories/Manufacturing.svg" alt="" class="img-fluid">
          <p>All Industries</p>
        </div>
      </div>
      <div class="col-sm border-end">
        <div class="d-flex flex-column align-items-center  gap-0">
          <img src="../../../../assets/images/success_stories/Infrastructure.svg" alt="" class="img-fluid">
          <p>All Industries</p>
        </div>
      </div>
      <div class="col-sm border-end">
        <div class="d-flex flex-column align-items-center  gap-0">
          <img src="../../../../assets/images/success_stories/Hospitality.svg" alt="" class="img-fluid">
          <p>All Industries</p>
        </div>
      </div>
      <div class="col-sm border-end">
        <div class="d-flex flex-column align-items-center  gap-0">
          <img src="../../../../assets/images/success_stories/Public Sector.svg" alt="" class="img-fluid">
          <p>All Industries</p>
        </div>
      </div>
      <div class="col-sm">
        <div class="d-flex flex-column align-items-center  gap-0">
          <img src="../../../../assets/images/success_stories/Smart Cities.svg" alt="" class="img-fluid">
          <p>All Industries</p>
        </div>
      </div>
    </div>
    <div class="row g-5 my-4 innovation_sectors_cards">
      <div class="col-sm-4">
        <div class="card h-100">
          <div class=" card-body">
            <img src="../../../../assets/images/success_stories/close-up-chef-cooking-restaurant-kitchen.png" alt=""
              class="img-fluid">
            <p class="sector_data small">
              The Largest Indian Footwear Company Uses CHARLIE To Cut Back On OPEX By 23%
            </p>

          </div>
          <div class="read_more">
            <div class="d-flex align-items-center justify-content-center gap-3">
              <span>Read More</span>
              <i class="fa-solid fa-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card h-100">
          <div class=" card-body">
            <img src="../../../../assets/images/success_stories/close-up-chef-cooking-restaurant-kitchen.png" alt=""
              class="img-fluid">
            <p class="sector_data small">
              The Largest Indian Footwear Company Uses CHARLIE To Cut Back On OPEX By 23%
            </p>

          </div>
          <div class="read_more">
            <div class="d-flex align-items-center justify-content-center gap-3">
              <span>Read More</span>
              <i class="fa-solid fa-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card h-100">
          <div class=" card-body">
            <img src="../../../../assets/images/success_stories/armed-security-guard-bank-diligently-monitors-situation-inside-building-using-surveillance-monitors-ensuring-secure-environment-generative-ai.png" alt=""
              class="img-fluid">
            <p class="sector_data small">
              The Largest Indian Footwear Company Uses CHARLIE To Cut Back On OPEX By 23%
            </p>

          </div>
          <div class="read_more">
            <div class="d-flex align-items-center justify-content-center gap-3">
              <span>Read More</span>
              <i class="fa-solid fa-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card h-100">
          <div class=" card-body">
            <img src="../../../../assets/images/success_stories/diverse-people-working-office.png" alt=""
              class="img-fluid">
            <p class="sector_data small">
              The Largest Indian Footwear Company Uses CHARLIE To Cut Back On OPEX By 23%
            </p>

          </div>
          <div class="read_more">
            <div class="d-flex align-items-center justify-content-center gap-3">
              <span>Read More</span>
              <i class="fa-solid fa-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card h-100">
          <div class=" card-body">
            <img src="../../../../assets/images/success_stories/semi-trailer-trucks-parked-lot-with-sunset-sky-diesel-truck-freight-truck-logistics-transport.png" alt=""
              class="img-fluid">
            <p class="sector_data small">
              The Largest Indian Footwear Company Uses CHARLIE To Cut Back On OPEX By 23%
            </p>

          </div>
          <div class="read_more">
            <div class="d-flex align-items-center justify-content-center gap-3">
              <span>Read More</span>
              <i class="fa-solid fa-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
