nav.navbar {
    color: #fff;
    font-size: 0.85rem;
}

nav.navbar .navbar-toggler {
    color: #fff;
    font-size: 0.85rem;
    padding: 8px;
}

nav.navbar .dropdown-menu {
    font-size: 0.85rem;
    padding: 0px;
    border-radius: 0;
    border-bottom: 0 !important;
}

nav.navbar .dropdown-menu:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 25px;
    top: -19px;
    border: 6px solid transparent;
    border-bottom: 13px solid #fff;
    z-index: 3;
}

nav.navbar .dropdown-menu .dropdown-item {
    padding: 10px 15px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.175) !important;
}

nav.navbar .dropdown-menu .dropdown-item.active,
nav.navbar .dropdown-menu .dropdown-item:active,
nav.navbar .dropdown-menu .dropdown-item:hover {
    background-color: var(--main-color);
    color: #fff;
    border-bottom: solid 1px var(--main-color) !important;
}

nav.navbar .dropdown-menu .dropdown-item:last-child {
    border-bottom: 0;
}

nav.navbar .offcanvas {
    background-color: #191838;
    color: #fff;
    font-size: 0.85rem;
}

nav.navbar .offcanvas h4,
nav.navbar .navbar-brand h4 {
    color: #fff;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 2rem;
}

nav.navbar .offcanvas h4 span,
nav.navbar .navbar-brand h4 span {
    font-weight: 800;
}

nav.navbar .navbar-nav .nav-link {
    color: #fff;
    padding-inline: 15px;
    margin: 3px;
}

nav.navbar .navbar-nav .nav-link.active,
nav.navbar .navbar-nav .nav-link:active,
nav.navbar .navbar-nav .nav-link:hover {
    color: var(--main-color);
}

nav.navbar .navbar-nav .nav-link.media {
    border: solid 1px var(--main-color);
    border-radius: 30px;
}

nav.navbar .navbar-nav .nav-link.media:hover {
    background: var(--bg-gradient);
    color: #fff;
}

nav.navbar .navbar-nav .nav-link.contact {
    color: #fff;
    background: var(--bg-gradient);
    border-radius: 30px;
}

@media only screen and (max-width: 600px) {
    nav.navbar .dropdown-menu:after {
        top: 25px;
    }
}

.fixed {
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: #191838;
}

.notfixed {
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background: transparent;
}