<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
            <h4><span class="text-gradient">AI</span> Kernel</h4>
        </a>
        <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <div class="offcanvas-title" id="offcanvasNavbarLabel">
                    <h4><span class="text-gradient">AI</span> Kernel</h4>
                </div>
                <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Explore Charlie
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">What is Charlie?</a></li>
                            <li><a class="dropdown-item" href="#">Covid-19 Solutions</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Industries We Serve
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Retail</a></li>
                            <li><a class="dropdown-item" href="#">Manufacturing</a></li>
                            <li><a class="dropdown-item" href="#">Infrastructure</a></li>
                            <li><a class="dropdown-item" href="#">Hospitality</a></li>
                            <li><a class="dropdown-item" href="#">Smart City</a></li>
                            <li><a class="dropdown-item" href="#">Public Sector</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Resources
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Insights & Resources</a></li>
                            <li><a class="dropdown-item" href="#">Publications</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Success Stories</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Company
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">About Us</a></li>
                            <li><a class="dropdown-item" href="#">Careers & Cultures</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link media" href="#">CHARLIE in Media</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link contact" href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>