<div class="retail-banner mb-3">
    <div class="container d-flex flex-column  justify-content-center h-100">
        <h1 class="fw-semibold ">Video Analytics in <span class="text-gradient">Hospitality Industry</span></h1>
        <p class="text-white">Our state-of-the-art video analytics technology provides real-time insights and actionable data to help you optimize your business's performance.</p>
    </div>
</div>
<div class="text-center">
    <h3 class="fw-semibold my-4">Key Features of Video Analytics in Hospitality Industry</h3>
</div>
<div class="key-features-banner mb-3">
    <div class="container">
        <div class="row g-4">
  
            <div class="col-sm-4">
                <div class="card">
                    <img src="../../../../../assets/images/hospitality/1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="fw-semibold">Demographic Analytics</h5>
                        <p class="small">Develop an understanding of the gender & age of your audience using statistical
                            analysis that will help in shaping marketing strategies. Identify which regions, days, and
                            months of the year see the highest growth based on the gender & age of your customers.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img src="../../../../../assets/images/hospitality/content-girls-sharing-with-purchases.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="fw-semibold">Occupancy Visualization</h5>
                        <p class="small">Detect the warmest place in real-time for store traffic and identify which spot
                            of the premises is/isn’t going well with the visitors. Also, identify the occupancy of your
                            retail store’s subsections to enhance staff productivity and customer experience.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img src="../../../../../assets/images/page-retail/best-friend.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="fw-semibold">Hygiene Maintainence</h5>
                        <p class="small">Detect the warmest place in real-time for store traffic and identify which spot
                            of the premises is/isn’t going well with the visitors. Also, identify the occupancy of your
                            retail store’s subsections to enhance staff productivity and customer experience.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card h-100">
                    <img src="../../../../../assets/images/hospitality/content-girls-sharing-with-purchases.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="fw-semibold">Fire & Smoke Detection</h5>
                        <p class="small">Provide a better customer experience by identifying repetitive and premium
                            customers using existing CCTV cameras. Speed up billing time for customers by analyzing
                            previous
                            purchases and providing recommendations.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card h-100">
                    <img src="../../../../../assets/images/page-retail/best-friend.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="fw-semibold">Food Serve Analytics</h5>
                        <p class="small">Get the estimated wait time for each person in a queue to optimize the total
                            number of queues and to reshuffle the customers between queues for quicker billing. Minimize
                            queue abandonment rate and avoid customer churn with our retail analytics solution, Charlie,
                            to
                            see a rise in ROI.</p>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
<div class="text-center">
    <h3 class="fw-semibold my-4">Why use Charlie for Video Analytics in Hospitality Industry</h3>
</div>

    <div class="container">
       <div class="row g-2 mt-4">
        <div class="col-sm-4">
            <div class="card card-body">
                <div class="d-flex mb-2 gap-1">
                    <img src="../../../../../assets/images/point.svg" alt="">
                    <h6 class="fw-semibold mb-0">Identify Bottlenecks And Optimize Staff Deployment</h6>
                </div>
                <P>Personalized shopping experiences drive engagement, increase sales, and ultimately, keep customers coming
                    back. Our expertise in artificial intelligence and big data will help you analyze your customer journey - in
                    real-time - and make decisions that lead to better conversion and lower costs.</P>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card-body">
                <div class="d-flex mb-2 gap-1">
                    <img src="../../../../../assets/images/point.svg" alt="">
                    <h6 class="fw-semibold mb-0">Enhance Guest Experiences With Targeted Marketing And Personalized Service</h6>
                </div>
                <P>Personalized shopping experiences drive engagement, increase sales, and ultimately, keep customers coming
                    back. Our expertise in artificial intelligence and big data will help you analyze your customer journey - in
                    real-time - and make decisions that lead to better conversion and lower costs.</P>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card-body">
                <div class="d-flex mb-2 gap-1">
                    <img src="../../../../../assets/images/point.svg" alt="">
                    <h6 class="fw-semibold mb-0">Monitor Guest Behavior And Satisfaction</h6>
                </div>
                <P>Personalized shopping experiences drive engagement, increase sales, and ultimately, keep customers coming
                    back. Our expertise in artificial intelligence and big data will help you analyze your customer journey - in
                    real-time - and make decisions that lead to better conversion and lower costs.</P>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card-body">
                <div class="d-flex mb-2 gap-1">
                    <img src="../../../../../assets/images/point.svg" alt="">
                    <h6 class="fw-semibold mb-0">Monitor Guest Behavior And Satisfaction</h6>
                </div>
                <P>Personalized shopping experiences drive engagement, increase sales, and ultimately, keep customers coming
                    back. Our expertise in artificial intelligence and big data will help you analyze your customer journey - in
                    real-time - and make decisions that lead to better conversion and lower costs.</P>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card-body">
                <div class="d-flex mb-2 gap-1">
                    <img src="../../../../../assets/images/point.svg" alt="">
                    <h6 class="fw-semibold mb-0">Gain Centralized Control</h6>
                </div>
                <P>Personalized shopping experiences drive engagement, increase sales, and ultimately, keep customers coming
                    back. Our expertise in artificial intelligence and big data will help you analyze your customer journey - in
                    real-time - and make decisions that lead to better conversion and lower costs.</P>
            </div>
        </div>
       </div>
    </div>
    <div class=" why-use-charlie">
        <div class="container">
           <div class="row justify-content-center">
            <div class="col-sm-10">
                <div class="card border-0">
                    <div class="card-body">
                       <div class="text-center mb-3">
                           <h3 class="fw-semibold">Impact of Video Analytics in Hospitality Industry</h3>
                       </div>
                       <div class="row">
                           <div class="col-sm-8">
                               <ul class="hospitality-list">
                                   <li>An End-To-End Demonstration Of Our AI-Based Proprietary Solution.</li>
                                   <li>Requirement Mapping And Feasibility Study Of CHARLIE, Specific To Your Problem Statement.</li>
                                   <li>Understanding Of The Current And Next-Gen AI Digitization Trends For Your Specific Industry.</li>
                                   <li>Ways In Which Similar Line Of Businesses Are Able To Solve Complex Problems.</li>
                               </ul>
                           </div>
                           <div class="col-sm-4">
                            <img src="../../../../../assets/images/hospitality/african.png" class="img-fluid">
                           </div>
                       </div>
                    </div>
                   </div>
            </div>
           </div>
        </div>
    </div>
    <div class="text-center">
        <h3 class="fw-semibold mb-3">Our Clients</h3>
    </div>
    <div class="container mb-3">
        <div class="row">
            <div class="col-sm-2">
                <img src="../../../../assets/images/contact-us-images/Starbucks_logo.png" alt=""  height="150px">
            </div>
            <div class="col-sm-2">
                <img src="../../../../assets/images/contact-us-images/IBM_logo.jpg" alt=""  height="150px">
            </div>
            <div class="col-sm-2">
                <img src="../../../../assets/images/contact-us-images/Maharashtra_Police_logo.jpg" alt=""  height="150px">
            </div>
            <div class="col-sm-2">
                <img src="../../../../assets/images/contact-us-images/tata_logo.jpg" alt=""  height="150px">
            </div>
            <div class="col-sm-2">
                <img src="../../../../assets/images/contact-us-images/ccd-logo.png" alt="" height="150px">
            </div>
            <div class="col-sm-2">
                <img src="../../../../assets/images/contact-us-images/IBM_logo.jpg" alt=""  height="150px">
            </div>
           </div>
       </div>
       <div class="go-ahed mb-3">
        <div class="container">
          <h1 class="text-white">Take your <span class="text-main"> hospitality business</span> to the next level!</h1>
          <div class="text-end">
              <button class="btn btn-primary">Get in touch with us</button>
          </div>
        </div>
      </div>
      <div class="d-flex gap-1 mb-3 justify-content-center">
        <img src="../../../../../assets/images/point.svg" alt="">
        <h3 class="fw-semibold ">
            Testimonials
        </h3>
    </div>
    <div class="container">
        <div class="row  hospitality justify-content-center mb-3">
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
            <div class="col-sm-8">
                <div class="d-flex align-items-center position-relative  gap-1">
                    <img src="../../../../assets/images/contact-us-images//ai_squre_img.png" alt="" class="ai-squre-img">
                    <div id="carouselExample" class="carousel slide">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <div class="card hospitality-card h-100">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0">
                                          <img src="../../../../assets/images/contact-us-images/user.jpg" alt="..." height="50px" class="rounded-circle">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                         <h5 class="mb-0 text-main">Dr. Diswajit Rath</h5>
                                         <p class="fw-semibold">Head Analytics, Raymond Limited</p>
                                        </div>
                                      </div>
                                  <p class="card-text">We have already closed 10-12 features and we are looking for 25 more. Charlie has made our process more fluid, safe and efficient.</p>
                                  <img src="../../../../assets/images/contact-us-images/raymond-logo.png" alt="" height="30px" >
                                </div>
                              </div>
                          </div>
                          <div class="carousel-item">
                            <div class="card contact-us-card h-100">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0">
                                          <img src="../../../../assets/images/contact-us-images/user.jpg" alt="..." height="50px" class="rounded-circle">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                         <h5 class="mb-0 text-main">Dr. Diswajit Rath</h5>
                                         <p class="fw-semibold">Head Analytics, Raymond Limited</p>
                                        </div>
                                      </div>
                                  <p class="card-text">We have already closed 10-12 features and we are looking for 25 more. Charlie has made our process more fluid, safe and efficient.</p>
                                  <img src="../../../../assets/images/contact-us-images/raymond-logo.png" alt="" height="30px" >
                                </div>
                              </div>
                          </div>
                          <div class="carousel-item">
                            <div class="card contact-us-card h-100">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0">
                                          <img src="../../../../assets/images/contact-us-images/user.jpg" alt="..." height="50px" class="rounded-circle">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                         <h5 class="mb-0 text-main">Dr. Diswajit Rath</h5>
                                         <p class="fw-semibold">Head Analytics, Raymond Limited</p>
                                        </div>
                                      </div>
                                  <p class="card-text">We have already closed 10-12 features and we are looking for 25 more. Charlie has made our process more fluid, safe and efficient.</p>
                                  <img src="../../../../assets/images/contact-us-images/raymond-logo.png" alt="" height="30px" >
                                </div>
                              </div>
                          </div>
                        </div>
                        
                      
                      </div>
                 </div>
            </div>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
          </div>
    </div>
    <div class="hand-shake-banner mb-3">
        <div class="container d-flex flex-column  justify-content-center align-items-center h-100">
            <h1 class="fw-semibold text-white">See how our video analytics solution can benefit your business</h1>
            <button class="btn btn-primary">Contact us today to schedule a free demo!</button>
        </div>
    </div>
    <div class="text-center">
        <h3 class="fw-semibold">
            Featured Content
        </h3>
    </div>
    <div class="container mb-4">
        <div id="carouselExample1" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
               <div class="row">
                <div class="col-sm-4">
                    <img src="../../../../../assets/images/page-retail/blog-2.png" alt="" class="img-fluid">
                </div>
                <div class="col-sm-4">
                    <img src="../../../../../assets/images/page-retail/blog-3.png" alt="" class="img-fluid">
                </div>
                <div class="col-sm-4">
                    <img src="../../../../../assets/images/page-retail/blog-4.png" alt="" class="img-fluid">
                </div>
               </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="../../../../../assets/images/page-retail/blog-2.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-sm-4">
                        <img src="../../../../../assets/images/page-retail/blog-3.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-sm-4">
                        <img src="../../../../../assets/images/page-retail/blog-4.png" alt="" class="img-fluid">
                    </div>
                   </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="../../../../../assets/images/page-retail/blog-2.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-sm-4">
                        <img src="../../../../../assets/images/page-retail/blog-3.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-sm-4">
                        <img src="../../../../../assets/images/page-retail/blog-4.png" alt="" class="img-fluid">
                    </div>
                   </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample1" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample1" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>