<section id="hospital-banner" class="mb-3">
    <div class="container d-flex flex-column justify-content-center h-100">
        <h1>Video Analytics in
            <span class="text-gradient fw-semibold">Hospitality Industry</span>
        </h1>
        <p>
            Our state-of-the-art video analytics technology provides real-time <br>
            insights and actionable data to help you optimize your business's <br>performance.
        </p>
    </div>
</section>

<section id="key-feature-banner">
    <div class="container">
        <h3 class="text-center fw-semibold mb-5">Key Features of Video Analytics in Hospitality Industry</h3>
        <div class="container">
            <div class="row g-4">
                <div class="col-sm-4">
                    <div class="card card-body">
                        <img src="../../../../../assets/images/hospitality/1.png" class="card-img-top" alt="...">
                        <h6 class="fw-semibold my-2">Demographic Analytics</h6>
                        <p class="small">Develop an understanding of the gender & age of your audience using
                            statistical
                            analysis that will help in shaping marketing strategies. Identify which regions, days,
                            and
                            months of the year see the highest growth based on the gender & age of your customers.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-body">
                        <img src="../../../../../assets/images/hospitality/content-girls-sharing-with-purchases.png"
                            class="card-img-top" alt="...">
                        <h6 class="fw-semibold my-2">Occupancy Visualization</h6>
                        <p class="small">
                            Detect the warmest place in real-time for store traffic and identify which spot
                            of the premises is/isn’t going well with the visitors. Also, identify the occupancy of
                            your
                            retail store’s subsections to enhance staff productivity and customer experience.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-body">
                        <img src="../../../../../assets/images/page-retail/best-friend.png" class="card-img-top"
                            alt="...">
                        <h6 class="fw-semibold my-2">Hygiene Maintainence</h6>
                        <p class="small">
                            Detect the warmest place in real-time for store traffic and identifywhich spot
                            of the premises is/isn’t going well with the visitors. Also, identify the occupancy of
                            your
                            retail store’s subsections to enhance staff productivity and customer experience.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-body">
                        <img src="../../../../../assets/images/hospitality/content-girls-sharing-with-purchases.png"
                            class="card-img-top" alt="...">
                        <h6 class="fw-semibold my-2">Fire & Smoke Detection</h6>
                        <p class="small">
                            Provide a better customer experience by identifying repetitive and premium
                            customers using existing CCTV cameras. Speed up billing time for customers by
                            analyzing previous purchases and providing recommendations.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-body">
                        <img src="../../../../../assets/images/page-retail/best-friend.png" class="card-img-top"
                            alt="...">
                        <h6 class="fw-semibold my-2">Food Serve Analytics</h6>
                        <p class="small">
                            Get the estimated wait time for each person in a queue to optimize the
                            total number of queues and to reshuffle the customers between
                            queues for quicker billing. Minimize queue abandonment rate and
                            avoid customer churn with our retail analytics solution, Charlie,
                            to see a rise in ROI.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="why-use-charlie">
    <div class="container">
        <h3 class="text-center fw-semibold mb-5">Why use Charlie for Video Analytics in Hospitality Industry</h3>
        <div class="row g-2 mt-4">
            <div class="col-sm-4">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img src="../../../../../assets/images/point.svg" alt="" class="point-icon">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h6>Identify Bottlenecks And Optimize Staff Deployment</h6>
                        <P>
                            Personalized shopping experiences drive engagement, increase sales, and ultimately, keep
                            customers coming back. Our expertise in artificial intelligence and big
                            data will help you analyze your customer journey - in real-time - and make decisions
                            that lead to better conversion and lower costs.
                        </P>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img src="../../../../../assets/images/point.svg" alt="" class="point-icon">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h6>Enhance Guest Experiences With Targeted Marketing And Personalized
                            Service</h6>
                        <P>
                            Learn about the activities that gain the most attention of customers by identifying trends
                            on
                            Charlie Create marketing campaigns based on these trends derived from our video analytics
                            solution for your hospitality industry business.
                        </P>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img src="../../../../../assets/images/point.svg" alt="" class="point-icon">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h6>Monitor Guest Behavior And Satisfaction</h6>
                        <P>
                            Know how the customer experience is at your hospitality industry business with our video
                            analytics solution. Ensure that the staff is leaving no stone unturned to enhance customer
                            experience with real-time actionable insights.
                        </P>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img src="../../../../../assets/images/point.svg" alt="" class="point-icon">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h6>Improve Security And Detect Potential Incidents</h6>
                        <P>
                            Reduce your OPEX with JARVIS by minimizing costs on human labor with AI powered video
                            analytics. You can also benefit your business by enhancing your security system and avoiding
                            any hazardous situations with instant alerts.
                        </P>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img src="../../../../../assets/images/point.svg" alt="" class="point-icon">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h6>Gain Centralized Control</h6>
                        <P>
                            Centralized visibility directly enhances the performance of the staff, detecting
                            abnormalities in the hospitality business. We can work with you to increase staff
                            performance by up to 95%, managing your day-to-day operations while our video analytics
                            solution eliminates human error.
                        </P>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="impact-of-video">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-10">
                    <div class="card">
                        <div class="card-header border-bottom-0 py-3">
                            <h3 class="text-center fw-semibold mb-0">Impact of Video Analytics in Hospitality Industry
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-7">
                                    <ul>
                                        <li>An End-To-End Demonstration Of Our AI-Based Proprietary Solution.</li>
                                        <li>Requirement Mapping And Feasibility Study Of CHARLIE, Specific To Your
                                            Problem
                                            Statement.</li>
                                        <li>Understanding Of The Current And Next-Gen AI Digitization Trends For Your
                                            Specific Industry.</li>
                                        <li>Ways In Which Similar Line Of Businesses Are Able To Solve Complex Problems.
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-5">
                                    <img src="../../../../../assets/images/hospitality/african.png" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="our-client" class="pt-2">
    <div class="container">
        <h1 class="text-center mb-4">Our Clients</h1>
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row g-3">
                        <div class="col-sm-3 text-center col-6">
                            <img src="../../../../../assets/images/page-retail/Tech-Mahindra.png" alt="">
                        </div>
                        <div class="col-sm-3 text-center col-6">
                            <img src="../../../../../assets/images/page-retail/microsoft-vector.png" alt="">
                        </div>
                        <div class="col-sm-3 text-center col-6">
                            <img src="../../../../../assets/images/page-retail/intel-image.png" alt="">
                        </div>
                        <div class="col-sm-3 text-center col-6">
                            <img src="../../../../../assets/images/page-retail/raymond.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="carousel-item active">
                    <div class="row g-3">
                        <div class="col-sm-3 text-center col-6">
                            <img src="../../../../../assets/images/page-retail/Tech-Mahindra.png" alt="">
                        </div>
                        <div class="col-sm-3 text-center col-6">
                            <img src="../../../../../assets/images/page-retail/microsoft-vector.png" alt="">
                        </div>
                        <div class="col-sm-3 text-center col-6">
                            <img src="../../../../../assets/images/page-retail/intel-image.png" alt="">
                        </div>
                        <div class="col-sm-3 text-center col-6">
                            <img src="../../../../../assets/images/page-retail/raymond.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<section id="future-proof">
    <div class="container">
        <h1 class="text-white"><span class="text-main">Futureproof </span> your smart city with Charlie!</h1>
        <div class="text-end">
            <a href="#">Contact Us
                <img src="../../../../../assets/images/page-retail/color-arrow-right.svg" class="arrow-right-icon">
            </a>
        </div>
    </div>
</section>

<section id="testimonial">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center gap-2 mb-5">
            <img src="../../../../../assets/images/point.svg" alt="">
            <h3 class="fw-semibold mb-0">Testimonials</h3>
        </div>

        <div class="row justify-content-center mb-3">
            <div class="col-sm-10 position-relative">
                <div class="d-flex align-items-center">
                    <img src="../../../../assets/images/contact-us-images//ai_squre_img.png" alt="" class="ai-image">

                    <div id="carouselExampleAutoplaying1" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner shadow">
                            <div class="carousel-item active">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../../assets/images/contact-us-images/user.jpg"
                                                    alt="..." class="user-image">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>Dr.Diswajit Rath</h6>
                                                <p>Head Analytics, Raymond Limited</p>
                                            </div>
                                        </div>
                                        <p class="card-text">
                                            We have already closed 10-12 features and we are looking for 25
                                            more. Charlie has made our process more fluid, safe and efficient.
                                        </p>
                                        <img src="../../../../assets/images/contact-us-images/raymond-logo.png" alt=""
                                            height="30px">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../../assets/images/contact-us-images/user.jpg"
                                                    alt="..." class="user-image">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>Dr.Diswajit Rath</h6>
                                                <p>Head Analytics, Raymond Limited</p>
                                            </div>
                                        </div>
                                        <p class="card-text">
                                            We have already closed 10-12 features and we are looking for 25
                                            more. Charlie has made our process more fluid, safe and efficient.
                                        </p>
                                        <img src="../../../../assets/images/contact-us-images/raymond-logo.png" alt=""
                                            height="30px">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../../assets/images/contact-us-images/user.jpg"
                                                    alt="..." class="user-image">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>Dr.Diswajit Rath</h6>
                                                <p>Head Analytics, Raymond Limited</p>
                                            </div>
                                        </div>
                                        <p class="card-text">
                                            We have already closed 10-12 features and we are looking for 25
                                            more. Charlie has made our process more fluid, safe and efficient.
                                        </p>
                                        <img src="../../../../assets/images/contact-us-images/raymond-logo.png" alt=""
                                            height="30px">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button"
                            data-bs-target="#carouselExampleAutoplaying1" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                            data-bs-target="#carouselExampleAutoplaying1" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="success-stories">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center gap-2 mb-5">
            <img src="../../../../../assets/images/point.svg" alt="">
            <h3 class="fw-semibold mb-0">Testimonials</h3>
        </div>

        <div class="row justify-content-center mb-3">
            <div class="col-sm-10">
                <div id="carouselExampleAutoplaying2" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card border-0">
                                        <img src="../../../../../assets/images/industries_we_serve/metro-brands.png"
                                            class="card-img " alt="...">
                                        <div class="card-img-overlay">
                                            <h5 class="card-title text-white mb-0">Metro Brands</h5>
                                            <p class="card-text text-white">Read full case study</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card border-0">
                                        <img src="../../../../../assets/images/industries_we_serve/we-work.png"
                                            class="card-img" alt="...">
                                        <div class="card-img-overlay">
                                            <h5 class="card-title mb-0 text-white">Wework</h5>
                                            <p class="card-text text-white">Read full case study</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card border-0">
                                        <img src="../../../../../assets/images/industries_we_serve/metro-brands.png"
                                            class="card-img " alt="...">
                                        <div class="card-img-overlay">
                                            <h5 class="card-title text-white mb-0">Metro Brands</h5>
                                            <p class="card-text text-white">Read full case study</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card border-0">
                                        <img src="../../../../../assets/images/industries_we_serve/we-work.png"
                                            class="card-img" alt="...">
                                        <div class="card-img-overlay">
                                            <h5 class="card-title mb-0 text-white">Wework</h5>
                                            <p class="card-text text-white">Read full case study</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying2"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying2"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="rethink-smart-cities">
    <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-sm-10">
                <h1 class="text-white">Rethink how you can apply video analytics to enhance smart cities</h1>
            </div>
        </div>
    </div>
</section>


<div class="hand-shake-banner mb-3">

</div>
<div class="text-center">
    <h3 class="fw-semibold">
        Featured Content
    </h3>
</div>
<div class="container mb-4">
    <div id="carouselExample1" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="../../../../../assets/images/page-retail/blog-2.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-sm-4">
                        <img src="../../../../../assets/images/page-retail/blog-3.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-sm-4">
                        <img src="../../../../../assets/images/page-retail/blog-4.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="../../../../../assets/images/page-retail/blog-2.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-sm-4">
                        <img src="../../../../../assets/images/page-retail/blog-3.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-sm-4">
                        <img src="../../../../../assets/images/page-retail/blog-4.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="../../../../../assets/images/page-retail/blog-2.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-sm-4">
                        <img src="../../../../../assets/images/page-retail/blog-3.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-sm-4">
                        <img src="../../../../../assets/images/page-retail/blog-4.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample1" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample1" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>