<section id="covid19-banner-img">
  <!-- <div class="container-fluid h-100"> -->
  <div class="container h-100">
    <div class="d-flex flex-column justify-content-center h-100 text-white">
      <h1>CHARLIE in preventing the <br> spread of COVID-19</h1>
      <h6>Ensured continuous running of operations during Covid-19</h6>
    </div>
  </div>
  <!-- </div> -->
</section>
<section>
  <div class="container">
    <div class="d-flex align-items-center justify-content-center">
      <img src="../../../../../assets/images/point.svg" alt="" class="img-fluid">
      <h6 class="mb-0">EXPLORE CHARLIE</h6>
    </div>
    <h1 class="text-center">Covid-19 Solutions</h1>
    <p>
      From preventing incidents by monitoring live feeds to assist investigations by going through recordings for video
      evidence, video analytics has always been a vital component in providing security and maintaining public safety.
      To help businesses resuming normal operations, CHARLIE’s AI-powered video analytics solutions have introduced
      capabilities like face mask detection, adherence to social distance standards, ensuring workplace safety, and
      temperature monitoring to combat the Covid-19.
    </p>
  </div>
</section>
<section>
  <div class="container">
    <div class="d-flex align-items-center gap-3 my-2">
      <img src="../../../../../assets/images/point.svg" alt="" class="img-fluid">
      <h6 class="mb-0">EXPLORE CHARLIE</h6>
    </div>
    <h1 class="border-bottom pb-3">Use Cases</h1>
    <div class="row my-3">
      <div class="col-sm-3">
        <div class="card h-100">
          <div class="card-header p-0">
            <img src="../../../../../assets/images/explore_charlie/Facemask-Detection.png" alt=""
              class="img-fluid rounded-0">
          </div>
          <div class="card-body">
            <h6 class="fw-bold">Facemask Detection</h6>
            <p class="small">
              CHARLIE offers the best video analytics solution for Covid-19, analysing CCTV video feeds to discover and
              report violations of social distancing. Violations can be reported in real-time to the appropriate
              authorities, who can then take corrective action.
            </p>
          </div>
          <div class="card-footer border-top-0 bg-transparent">
            <button class="btn text-main border rounded-pill border-main">Watch Video</button>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card h-100">
          <div class="card-header p-0">
            <img src="../../../../../assets/images/explore_charlie/Social-Distancing-Monitoring.png" alt=""
              class="img-fluid rounded-0">
          </div>
          <div class="card-body">
            <h6 class="fw-bold">Social Distancing Monitoring</h6>

            <p class="small">
              CHARLIE's AI-powered system analyses CCTV video feeds in real-time to detect face mask with high accuracy.
              The
              solution is intended to aid in the creation of a safe working environment and the reporting of any
              infraction.
            </p>
          </div>
          <div class="card-footer border-top-0 bg-transparent">
            <button class="btn text-main border rounded-pill border-main">Watch Video</button>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card h-100">
          <div class="card-header p-0">
            <img src="../../../../../assets/images/explore_charlie/Cleaning-Mopping-Detection.png" alt=""
              class="img-fluid rounded-0">
          </div>
          <div class="card-body">
            <h6 class="fw-bold">Cleaning & Mopping Detection</h6>
            <p class="small">
              CHARLIE's AI-based solution ensures that hygiene and cleanliness levels in the premises are maintained.
              Get real-time alerts to measure and monitor the cleanliness levels of the workplace hygiene, SOPs using
              cleaning/mopping detection.
            </p>
          </div>
          <div class="card-footer border-top-0 bg-transparent">
            <button class="btn text-main border rounded-pill border-main">Watch Video</button>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card h-100">
          <div class="card-header p-0">
            <img src="../../../../../assets/images/explore_charlie/Handwash-Detection.png" alt=""
              class="img-fluid rounded-0">
          </div>
          <div class="card-body">
            <h6 class="fw-bold">Handwash Detection</h6>
            <p class="small">
              CHARLIE's offers top video content analytics which allows to track hand hygiene compliance and maintain a
              safer working environment.
            </p>
          </div>
          <div class="card-footer border-top-0 bg-transparent">
            <button class="btn text-main border rounded-pill border-main">Watch Video</button>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-end gap-3 pt-4">
      <p class="mb-0 small"><i>Want More Information On Covid-19 Modules</i></p>
      <button type="button" class="btn btn-primary rounded-pill">Download Ebook</button>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="card card-body">
      <div class="row align-items-center">
        <div class="col-sm-8">
          <h4>Insights</h4>
          <ul class="list-unstyled">
            <li>
              <div class="d-flex gap-3">
                <img src="../../../../../assets/images/point.svg" alt="" class="img-fluid">
                <p class="small">Immediate action on Hygiene SOP adherence hence prevent loss due to Covid outspread.
                </p>
              </div>
            </li>
            <li>
              <div class="d-flex gap-3">
                <img src="../../../../../assets/images/point.svg" alt="" class="img-fluid">
                <p class="small">Track the past movements of a Covid positive individual across multiple cameras for
                  contact tracing.</p>
              </div>
            </li>
            <li>
              <div class="d-flex gap-3">
                <img src="../../../../../assets/images/point.svg" alt="" class="img-fluid">
                <p class="small">Use CCTV Thermal Cameras to detect the internal temperature of the individuals walking
                  in.</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-sm-4">
          <img src="../../../../../assets/images/explore_charlie/Insights.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
<section id="newsletter">
  <div class="container-fluid">
    <div class="row gx-2 align-items-center my-5">
      <div class="col-sm-6">
        <h1>Sign Up For Staqu Newsletter</h1>
      </div>
      <div class="col-sm-6">
        <div class="d-flex flex-column gap-2">
          <div class="input-group flex-nowrap">
            <input type="text" class="form-control rounded-0" placeholder="Your email address" aria-label="Username"
              aria-describedby="addon-wrapping">
            <span class="input-group-text bg-main px-4 py-2 rounded-0 m-0" id="addon-wrapping">Subscribe</span>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
             <p class="small mb-0">
              We're committed to your privacy. Staqu uses the information you provide to us to contact you about our
              relevant content, products, and services. You may unsubscribe from these communications at any time. For
              more information, check out our Privacy Policy.
             </p>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
