#covid19-banner-img{
  background-image: url('../../../../../assets/images/explore_charlie/covid-19.png');
  height: 60vh;
  width: 100%;
  padding: 0;
  margin: 0;
}
section{
  padding: 50px 0px;
}

section#newsletter{
  background-color: #191838;
  color: #fff;
}
