<section class="charlie-banner">
    <!-- <div class="container-fluid h-100"> -->
    <div class="container h-100">
      <div class="d-flex flex-column justify-content-center h-100 text-white">
        <h1>Accumulate Quantifiable Video Data<br> & Identify Trends, All In a Single</h1>
        <h1>Platform</h1>
        <p>Prevent Losses. Accelerate Revenue.</p>
       <div class="d-flex mb-5">
        <button mat-raised-button color="primary" class="me-2">Watch Demo Videos</button>
        <button mat-raised-button color="primary">Book a Personalized Demo</button>
      </div>
      <div class="d-flex logo">
        <img src="../../../../../assets/images/explore_charlie/awsPartner.png" alt="" class="img-fluid me-3">
        <img src="../../../../../assets/images/explore_charlie/partner.png" alt="" class="img-fluid me-2">
        <img src="../../../../../assets/images/explore_charlie/pngwing.png" alt="" class="img-fluid">
      </div>
      </div>
    </div>
    
    <!-- </div> -->
  </section>
  <div class="container-fluid backgroundcol">
    <div class="d-flex align-items-center justify-content-start">
      <h6 class="text-start mt-5 ">EXPLORE CHARLIE</h6>
    </div>
        <h3 class="">
            What Is CHARLIE?
        </h3>
       <div class="d-flex justify-content-between">
        <p>CHARLIE is an audio and video analytics software as well as an audio-video management technology platform that has changed the way people think about security cameras. CHARLIE helps transform long CCTV video footage into meaningful information. The Video Analytics Software enables us to provide short and crisp real-time alerts that are actionable. Fueled with Artificial Intelligence, computer vision, deep learning, patented technologies, and unique capabilities, CHARLIE offers innovation for growth and security, making Staqu Technologies the best Intelligent video technology solution company.</p>
        <img src="../../../../../assets/images/explore_charlie/charlie.png" alt="" class="charlie        ">
    </div>
    <div class="container-fluid why-use-charlie">
      <div class="text-center">
          <h3 class="fw-semibold">Why choose CHARLIE Video Analytics Software</h3>
      </div>
      </div>
      <div class="container mb-5">
         <div class="row g-2 mt-4">
          <div class="col-sm-4">
              <div class="card card-body">
                  <div class="d-flex mb-2 gap-1">
                      <img src="../../../../../assets/images/point.svg" alt="">
                      <h6 class="fw-semibold mb-0">Utilize video feed as actionable insights</h6>
                  </div>
                  <P>CHARLIE is a proprietary video analytics solution that helps organizations from various industries 
                    realize the true potential of their video data and utilize the data points in creating actionable strategies 
                    to ensure increased revenue, loss prevention, and accelerated operational efficiency.</P>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="card card-body">
                  <div class="d-flex mb-2 gap-1">
                      <img src="../../../../../assets/images/point.svg" alt="">
                      <h6 class="fw-semibold mb-0">Increase efficiency with a robust VMS</h6>
                  </div>
                  <P>CHARLIE VMS Software is a video wall that displays real-time notifications. The VMS functionality allows 
                    organizations to monitor and act upon a large number of CCTV feeds at the same time. This VMS integration can be deployed on a single JARVIS server, 
                    and each of the connected VMS integrations can have separate cameras activated.</P>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="card card-body">
                  <div class="d-flex mb-2 gap-1">
                      <img src="../../../../../assets/images/point.svg" alt="">
                      <h6 class="fw-semibold mb-0">Easily integrate with any VMS</h6>
                  </div>
                  <P>To run CHARLIE, you only need an IP camera and reliable internet access. It may be integrated with any VMS and 
                    deployed on the cloud or at the edge which can be accessed anywhere, anytime.</P>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="card card-body">
                  <div class="d-flex mb-2 gap-1">
                      <img src="../../../../../assets/images/point.svg" alt="">
                      <h6 class="fw-semibold mb-0">Save deployment time and costs</h6>
                  </div>
                  <P>With the Streaming Agent tool, our latest innovation, organizations don’t require a static IP at all locations for deployment. 
                    This in turn helps accelerate the deployment cycle and reduces network infrastructure costs.</P>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="card card-body">
                  <div class="d-flex mb-2 gap-1">
                      <img src="../../../../../assets/images/point.svg" alt="">
                      <h6 class="fw-semibold mb-0">Leverage 100+ Analytics data points</h6>
                  </div>
                  <P>CHARLIE Video analytics software provides accurate, flexible, and comprehensive data insights for over 
                    50 use cases. Derive valuable insights from 100+ analytics to accelerate 
                    situational awareness and improve operational intelligence.</P>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="card card-body">
                  <div class="d-flex mb-2 gap-1">
                      <img src="../../../../../assets/images/point.svg" alt="">
                      <h6 class="fw-semibold mb-0">Rely on incomparable Accuracy</h6>
                  </div>
                  <P>CHARLIE is undoubtedly one of the world’s best video analytics software. Its results are 
                    reliable and accurate. For instance, the Facial Recognition System comes with more than 99.7% accuracy in LFW Dataset, 
                    Youtube Faces, as well as Indian and international facial databases.</P>
              </div>
          </div>
         </div>
      </div>
  </div>