.charlie-banner{
  // background-image: url(../../../../assets/images/contact-us-images/Contact-Us.png);
  background-size: cover !important;
  background-position: center;
  height: 90vh;
  background: -webkit-linear-gradient(rgb(22, 18, 45 , 0.7), rgba(36, 21, 61,0.5)), url("../../../../../assets/images/explore_charlie/charlies.png");
} 
  section{
    padding: 0px 0px;
  }
  
  section#newsletter{
    background-color: #0d6efd;
    color: #fff;
  }
  .logo{
     top: 225px;
     left: 96px;
     width: 100px;
     height: 50px;
mix-blend-mode: screen;
opacity: 1;
  }
  .backgroundcol{
    background-color: #EDF8FC;
  }
  .charlie{
    top: 1424px;
left: 1073px;
width: 807px;
height: 204px;
border: 1px solid #707070;
opacity: 1;
margin: 30px;
  }
  