<section class="charlie-banner pb-3">
    <div class="container h-100">
        <div class="d-flex flex-column justify-content-center h-100 text-white">
            <h1>
                Accumulate Quantifiable Video Data<br>
                & Identify Trends, All In a Single<br>
                <span class="text-gradient fw-bold">Platform</span>
            </h1>
            <p>Prevent Losses. Accelerate Revenue.</p>
            <div class="d-flex mb-2 gap-2">
                <a href="#">Watch Demo Videos <i class="fa-solid fa-circle-chevron-right ms-3"></i></a>
                <a href="#">Book a Personalized Demo <i class="fa-solid fa-circle-chevron-right ms-3"></i></a>
            </div>
            <div class="d-flex gap-3">
                <img src="../../../../../assets/images/explore_charlie/AWSPartner.png" alt="">
                <img src="../../../../../assets/images/explore_charlie/partner.png" alt="">
                <img src="../../../../../assets/images/explore_charlie/pngwing.png" alt="">
            </div>
        </div>
    </div>
</section>
<section id="explore">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="d-flex align-items-center gap-1 mb-3">
                    <img src="../../../../../assets/images/point.svg" alt="" class="point-icon">
                    <h6 class="fw-semibold mb-0">EXPLORE CHARLIE</h6>
                </div>
                <h4>What Is CHARLIE?</h4>
                <p>CHARLIE is an audio and video analytics software as well as an audio-video management technology
                    platform that has changed the way people think about security cameras. CHARLIE helps transform
                    long CCTV video footage into meaningful information. The Video Analytics Software enables us to
                    provide short and crisp real-time alerts that are actionable.</p>
                <p>Fueled with Artificial
                    Intelligence, computer vision, deep learning, patented technologies, and unique capabilities,
                    CHARLIE offers innovation for growth and security, making Staqu Technologies the best
                    Intelligent video technology solution company.</p>
                <a href="#">Learn More <i class="fa-solid fa-circle-chevron-right ms-3"></i></a>
            </div>
            <div class="col-sm-5">
                <img src="../../../../../assets/images/explore_charlie/charlie.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<section id="software">
    <div class="text-center">
        <div class="d-flex justify-content-center mb-2 gap-1">
            <img src="../../../../../assets/images/point.svg" alt="" class="point-icon">
            <h6 class="fw-semibold mb-0">EXPLORE CHARLIE</h6>
        </div>
        <h3 class="fw-semibold mb-3">Why choose CHARLIE Video Analytics Software</h3>
    </div>
    <div class="container mb-3">
        <div class="row g-3">
            <div class="col-sm-4">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img src="../../../../../assets/images/point.svg" alt="" class="point-icon">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h6>Utilize video feed as actionable insights</h6>
                        <p>CHARLIE is a proprietary video analytics solution that helps organizations from various
                            industries
                            realize the true potential of their video data and utilize the data points in creating
                            actionable
                            strategies
                            to ensure increased revenue, loss prevention, and accelerated operational efficiency.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img src="../../../../../assets/images/point.svg" alt="" class="point-icon">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h6>Increase efficiency with a robust VMS</h6>
                        <p>CHARLIE VMS Software is a video wall that displays real-time notifications. The VMS
                            functionality
                            allows
                            organizations to monitor and act upon a large number of CCTV feeds at the same time. This
                            VMS
                            integration can be deployed on a single JARVIS server,
                            and each of the connected VMS integrations can have separate cameras activated.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img src="../../../../../assets/images/point.svg" alt="" class="point-icon">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h6>Easily integrate with any VMS</h6>
                        <p>To run CHARLIE, you only need an IP camera and reliable internet access. It may be integrated
                            with
                            any VMS and
                            deployed on the cloud or at the edge which can be accessed anywhere, anytime.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img src="../../../../../assets/images/point.svg" alt="" class="point-icon">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h6>Save deployment time and costs</h6>
                        <p>With the Streaming Agent tool, our latest innovation, organizations don’t require a static IP
                            at all
                            locations for deployment.
                            This in turn helps accelerate the deployment cycle and reduces network infrastructure costs.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img src="../../../../../assets/images/point.svg" alt="" class="point-icon">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h6>Leverage 100+ Analytics data points</h6>
                        <p>CHARLIE Video analytics software provides accurate, flexible, and comprehensive data insights
                            for
                            over
                            50 use cases. Derive valuable insights from 100+ analytics to accelerate
                            situational awareness and improve operational intelligence.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img src="../../../../../assets/images/point.svg" alt="" class="point-icon">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h6>Rely on incomparable Accuracy</h6>
                        <p>CHARLIE is undoubtedly one of the world’s best video analytics software. Its results are
                            reliable and accurate. For instance, the Facial Recognition System comes with more than
                            99.7%
                            accuracy in LFW Dataset,
                            Youtube Faces, as well as Indian and international facial databases.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="bg-primary bg-opacity-10 p-3 mb-3">
    <div class="text-center">
        <div class="d-flex justify-content-center mb-2 gap-1">
            <img src="../../../../../assets/images/point.svg" alt="">
            <h6 class="fw-semibold mb-0">EXPLORE CHARLIE</h6>
        </div>
        <h3 class="fw-semibold mb-2">Our Video Management Solution Offerings</h3>
        <p class="small">With CARLIE VMS, get real-time centralized viewing, automate operational processes, and
            error-free transparency.</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="text-center">
                    <img src="../../../../../assets/images/explore_charlie/live-video-call.png" alt=""
                        class="img-fluid mb-2">
                    <p class="small">Live Video Call</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="text-center">
                    <img src="../../../../../assets/images/explore_charlie/cloud-based-dvr.png" alt=""
                        class="img-fluid mb-2">
                    <p class="small">Cloud-Based DVR</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="text-center">
                    <img src="../../../../../assets/images/explore_charlie/web-based-vms.png" alt=""
                        class="img-fluid mb-2">
                    <p class="small">Web-Based VMS Dashboard (Accessible From Anywhere)</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="text-center">
                    <img src="../../../../../assets/images/explore_charlie/integration-wth-any-video.png" alt=""
                        class="img-fluid mb-2">
                    <p class="small">Integration With Any Video Streaming Device</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="text-center">
                    <img src="../../../../../assets/images/explore_charlie/cctv-agnostic.png" alt=""
                        class="img-fluid mb-2">
                    <p class="small">CCTV Agnostic</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="text-center">
                    <img src="../../../../../assets/images/explore_charlie/mobile-based-streeming.png" alt=""
                        class="img-fluid mb-2">
                    <p class="small">Mobile-Based Streaming App</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="text-center">
                    <img src="../../../../../assets/images/explore_charlie/mobile-based-vms.png" alt=""
                        class="img-fluid mb-2">
                    <p class="small">Mobile-Based VMS App</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="text-center">
                    <img src="../../../../../assets/images/explore_charlie/cloud-one-premise-support.png" alt=""
                        class="img-fluid mb-2">
                    <p class="small">Cloud-Based And On-Premise Supported VMS Deployment</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="text-center">
                    <img src="../../../../../assets/images/explore_charlie/end-encryption.png" alt=""
                        class="img-fluid mb-2">
                    <p class="small">End-To-End Encryption</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="text-center">
                    <img src="../../../../../assets/images/explore_charlie/ticket-managment.png" alt=""
                        class="img-fluid mb-2">
                    <p class="small">Ticket Management System</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="text-center">
                    <img src="../../../../../assets/images/explore_charlie/integration-hundred.png" alt=""
                        class="img-fluid mb-2">
                    <p class="small">Integration With 100+ Analytics Modules Of JARVIS</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="text-center">
                    <img src="../../../../../assets/images/explore_charlie/camera-health-alerts.png" alt=""
                        class="img-fluid mb-2">
                    <p class="small">Camera Health Alerts</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center mb-2">
    <div class="d-flex justify-content-center mb-2 gap-1">
        <img src="../../../../../assets/images/point.svg" alt="">
        <h6 class="fw-semibold mb-0">EXPLORE CHARLIE</h6>
    </div>
    <h3 class="fw-semibold mb-2">Our Video Analytics Offerings</h3>
    <p class="small">Our video analytics solution CHARLIE, is a one stop solution with its plug and play feature and
        more.</p>
</div>
<div class="container mb-3">
    <div class="row">
        <div class="col-sm-3">
            <div class="text-center">
                <img src="../../../../../assets/images/explore_charlie/hundred-analytics-safety.png" alt=""
                    class="img-fluid mb-2">
                <p class="small">100+ Analytics For Safety, Security & Operation Modules</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="text-center">
                <img src="../../../../../assets/images/explore_charlie/audio-based-analytics.png" alt=""
                    class="img-fluid mb-2">
                <p class="small">Audio Based Analytics For CCTV Camera (Person And Scene Recognition)</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="text-center">
                <img src="../../../../../assets/images/explore_charlie/real-time-actiable.png" alt=""
                    class="img-fluid mb-2">
                <p class="small">NIST Certified Facial Recognition</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="text-center">
                <img src="../../../../../assets/images/explore_charlie/nist-certification.png" alt=""
                    class="img-fluid mb-2">
                <p class="small">NIST Certified Facial Recognition</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="text-center">
                <img src="../../../../../assets/images/explore_charlie/offline-audit.png" alt="" class="img-fluid mb-2">
                <p class="small">Offline Audit Reporting</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="text-center">
                <img src="../../../../../assets/images/explore_charlie/on-demand-feature.png" alt=""
                    class="img-fluid mb-2">
                <p class="small">On-Demand Feature Selection & Enablement</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="text-center">
                <img src="../../../../../assets/images/explore_charlie/third-party-analytics.png" alt=""
                    class="img-fluid mb-2">
                <p class="small">Third Party Analytics API Integration</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="text-center">
                <img src="../../../../../assets/images/explore_charlie/real-time-object.png" alt=""
                    class="img-fluid mb-2">
                <p class="small">Real-Time Object, Person & Vehicle Search</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="text-center">
                <img src="../../../../../assets/images/explore_charlie/industry-specifc-analytics.png" alt=""
                    class="img-fluid mb-2">
                <p class="small">Industry-Specific Analytics</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="text-center">
                <img src="../../../../../assets/images/explore_charlie/resolution-independent.png" alt=""
                    class="img-fluid mb-2">
                <p class="small">Resolutions Independent Analytics</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="text-center">
                <img src="../../../../../assets/images/explore_charlie/forensik-analytics.png" alt=""
                    class="img-fluid mb-2">
                <p class="small">Forensic Analysis</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="text-center">
                <img src="../../../../../assets/images/explore_charlie/audio-based-search.png" alt=""
                    class="img-fluid mb-2">
                <p class="small">Audio Based Search</p>
            </div>
        </div>
    </div>
</div>
<div class="bg-primary-subtle text-emphasis-primary mb-3 py-5">
    <div class="container">
        <div class="d-flex align-items-center h-100 justify-content-between">
            <h1 class="fw-semibold">Turning Existing Cctvd <span class="text-gradient">Smarter !</span></h1>
            <button class="btn btn-primary">Back a Free Demo</button>
        </div>
    </div>
</div>
<div class="container mb-4">
    <div class="d-flex  mb-2 gap-1 ">
        <img src="../../../../../assets/images/point.svg" alt="">
        <h6 class="fw-semibold mb-0">EXPLORE CHARLIE</h6>
    </div>
    <h3 class="fw-semibold mb-2">Industries Leveraging Charlie Video Analytics Software.</h3>
</div>

<div class="bg-dark text-white mb-4 py-5">
    <div class="container">
        <div class="row mb-3">
            <div class="col-sm-7">
                <h1>Retail</h1>
                <p>Explore CHARLIE Retail Analytics Software to enable seamless integration of video analytics for
                    retail stores into your existing infrastructure. Know about your retail store’s unique visitor
                    count, demography analytics, and more and elevate your brick-and-mortar with video analytics
                    software.</p>
            </div>
            <div class="col-sm-5">
                <div class="card text-dark">
                    <div class="card-body">
                        <h5 class="fw-semibold">Video Analytics For Retail</h5>
                        <button class="btn btn-primary">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-2 border-end">
                Retail
            </div>
            <div class="col-sm-2 border-end">
                Manufacturing
            </div>
            <div class="col-sm-2 border-end">
                Infrastructure
            </div>
            <div class="col-sm-2 border-end">
                Hospitality
            </div>
            <div class="col-sm-2 border-end">
                Public Sector
            </div>
            <div class="col-sm-2 border-end">
                Smart Cities
            </div>
        </div>
    </div>
</div>
<div class=" p-3 bg-primary bg-opacity-10 mb-3">
    <div class="container">
        <div class="text-center">
            <div class="d-flex align-items-center justify-content-center gap-1">
                <img src="../../../../assets/images/point.svg" alt="">
                <h6 class="mb-0">EXPLORE CHARLIE</h6>
            </div>
            <h3 class="fw-semibold mb-3">Testimonials</h3>
        </div>
        <div class="row Testimonials contact-us justify-content-center">
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <div class="col-sm-8">
                <div class="d-flex align-items-center position-relative  gap-1">
                    <img src="../../../../assets/images/contact-us-images//ai_squre_img.png" alt=""
                        class="ai-squre-img">
                    <div id="carouselExample" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="card contact-us-card h-100">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <img src="../../../../assets/images/contact-us-images/user.jpg"
                                                    alt="..." height="50px" class="rounded-circle">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h5 class="mb-0 text-main">Dr. Diswajit Rath</h5>
                                                <p class="fw-semibold">Head Analytics, Raymond Limited</p>
                                            </div>
                                        </div>
                                        My expectations was the security and safety of my premises and CHARLIE fulfills
                                        this requirement. The kind of features the solution provides are really good and
                                        overall it is user-friendly, efficient and futuristic.
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card contact-us-card h-100">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <img src="../../../../assets/images/contact-us-images/user.jpg"
                                                    alt="..." height="50px" class="rounded-circle">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h5 class="mb-0 text-main">Dr. Diswajit Rath</h5>
                                                <p class="fw-semibold">Head Analytics, Raymond Limited</p>
                                            </div>
                                        </div>
                                        My expectations was the security and safety of my premises and CHARLIE fulfills
                                        this requirement. The kind of features the solution provides are really good and
                                        overall it is user-friendly, efficient and futuristic.
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card contact-us-card h-100">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <img src="../../../../assets/images/contact-us-images/user.jpg"
                                                    alt="..." height="50px" class="rounded-circle">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h5 class="mb-0 text-main">Dr. Diswajit Rath</h5>
                                                <p class="fw-semibold">Head Analytics, Raymond Limited</p>
                                            </div>
                                        </div>
                                        My expectations was the security and safety of my premises and CHARLIE fulfills
                                        this requirement. The kind of features the solution provides are really good and
                                        overall it is user-friendly, efficient and futuristic.
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<div class="text-center">
    <div class="d-flex align-items-center justify-content-center gap-1">
        <img src="../../../../assets/images/point.svg" alt="">
        <h6 class="mb-0">EXPLORE CHARLIE</h6>
    </div>
    <h3 class="fw-semibold mb-3">Success Stories</h3>
</div>
<div class="container mb-4">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div id="carouselExample1" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="../../../../../assets/images/explore_charlie/use-video.png" alt=""
                                    class="img-fluid">
                            </div>
                            <div class="col-sm-6">
                                <img src="../../../../../assets/images/explore_charlie/use-video.png" alt=""
                                    class="img-fluid">
                            </div>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="../../../../../assets/images/page-retail/blog-2.png" alt="" class="img-fluid">
                            </div>
                            <div class="col-sm-6">
                                <img src="../../../../../assets/images/page-retail/blog-3.png" alt="" class="img-fluid">
                            </div>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="../../../../../assets/images/page-retail/blog-2.png" alt="" class="img-fluid">
                            </div>
                            <div class="col-sm-6">
                                <img src="../../../../../assets/images/page-retail/blog-3.png" alt="" class="img-fluid">
                            </div>

                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample1"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample1"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class=" p-3 bg-primary bg-opacity-10 ">
    <div class="container">
        <div class="d-flex align-items-center mb-2 gap-1 ">
            <img src="../../../../../assets/images/point.svg" alt="">
            <h6 class=" mb-0">EXPLORE CHARLIE</h6>
        </div>
        <h3 class="fw-semibold mb-2">FAQs</h3>
        <div class="row">
            <div class="col-sm-7">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button  collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                Is CHARLIE camera agnostic?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion
                                body.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                What is the average bandwidth required for CHARLIE to work?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion
                                body. Let's imagine this being filled with some actual content.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                Does CHARLIE backup video footage?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion
                                body. Nothing more exciting happening here in terms of content, but just filling up the
                                space to make it look, at least at first glance, a bit more representative of how this
                                would look in a real-world application.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapsefour" aria-expanded="false"
                                aria-controls="flush-collapsefour">
                                Can CHARLIE have role based access controls (RBAC)?
                            </button>
                        </h2>
                        <div id="flush-collapsefour" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion
                                body. Nothing more exciting happening here in terms of content, but just filling up the
                                space to make it look, at least at first glance, a bit more representative of how this
                                would look in a real-world application.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapsefive" aria-expanded="false"
                                aria-controls="flush-collapsefive">
                                Will the CHARLIE panel send alerts if a camera is not working?
                            </button>
                        </h2>
                        <div id="flush-collapsefive" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion
                                body. Nothing more exciting happening here in terms of content, but just filling up the
                                space to make it look, at least at first glance, a bit more representative of how this
                                would look in a real-world application.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapsesix" aria-expanded="false"
                                aria-controls="flush-collapsesix">
                                Will you need static IP?
                            </button>
                        </h2>
                        <div id="flush-collapsesix" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion
                                body. Nothing more exciting happening here in terms of content, but just filling up the
                                space to make it look, at least at first glance, a bit more representative of how this
                                would look in a real-world application.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hand-shake-banner">
    <div class="container d-flex flex-column  justify-content-center align-items-center h-100">
        <h1 class="fw-semibold text-white">Get in Touch</h1>
        <p class="text-white">Learn how you can transform your CCTV footage into actionable insights within 30 minutes.
        </p>
        <button class="btn btn-primary">BOOK A FREE DEMO TODAY</button>
    </div>
</div>
<div class="bg-primary-subtle py-4">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-5">
                <h2 class="fw-semibold">Sign Up For Staqu Newsletter</h2>
            </div>
            <div class="col-sm-7">
                <div class="d-flex gap-2 mb-2">
                    <input type="email" class="form-control w-50" id="exampleFormControlInput1"
                        placeholder="Your email address">
                    <button class="btn btn-primary">Subscribe</button>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        We're committed to your privacy. Staqu uses the information you provide to us to contact you
                        about
                        our relevant content, products, and services. You may unsubscribe from these communications at
                        any
                        time. For more information, check out our Privacy Policy.
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>