<section id="covid19-banner-img">
    <!-- <div class="container-fluid h-100"> -->
    <div class="container h-100">
      <div class="d-flex flex-column justify-content-center h-100 text-white">
        <h1>Accumulate Quantifiable Video Data<br> & Identify Trends, All In a Single</h1>
        <h1>Platform</h1>
        <p>Prevent Losses. Accelerate Revenue.</p>
       <div class="d-flex mb-5">
        <button mat-raised-button color="primary" class="me-2">Watch Demo Videos</button>
        <button mat-raised-button color="primary">Book a Personalized Demo</button>
      </div>
      <div class="d-flex logo">
        <img src="../../../../../assets/images/explore_charlie/awsPartner.png" alt="" class="img-fluid me-3">
        <img src="../../../../../assets/images/explore_charlie/partner.png" alt="" class="img-fluid me-2">
        <img src="../../../../../assets/images/explore_charlie/pngwing.png" alt="" class="img-fluid">
      </div>
      </div>
    </div>
    
    <!-- </div> -->
  </section>
  <div class="container-fluid backgroundcol">
    <div class="d-flex align-items-center justify-content-start">
      <h6 class="text-start mt-5 ">EXPLORE CHARLIE</h6>
    </div>
        <h3 class="">
            What Is CHARLIE?
        </h3>
       <div class="d-flex justify-content-between">
        <p>CHARLIE is an audio and video analytics software as well as an audio-video management technology platform that has changed the way people think about security cameras. CHARLIE helps transform long CCTV video footage into meaningful information. The Video Analytics Software enables us to provide short and crisp real-time alerts that are actionable. Fueled with Artificial Intelligence, computer vision, deep learning, patented technologies, and unique capabilities, CHARLIE offers innovation for growth and security, making Staqu Technologies the best Intelligent video technology solution company.</p>
        <img src="../../../../../assets/images/explore_charlie/charlie.png" alt="" class="charlie">
    </div>
    <!-- <h1 class="text-center">Covid-19 Solutions</h1>
    <p>
      From preventing incidents by monitoring live feeds to assist investigations by going through recordings for video
      evidence, video analytics has always been a vital component in providing security and maintaining public safety.
      To help businesses resuming normal operations, CHARLIE’s AI-powered video analytics solutions have introduced
      capabilities like face mask detection, adherence to social distance standards, ensuring workplace safety, and
      temperature monitoring to combat the Covid-19.
    </p> -->
  </div>