<div class="retail-banner mb-3">
    <div class="container d-flex flex-column  justify-content-center h-100">
        <h1 class="fw-semibold text-gradient">Retail</h1>
        <h2 class="text-white">Analytics Software</h2>
        <p class="text-white">Explore Charlie Retail Analytics Software To Enable Seamless Integration Of Video
            Analytics For Retail Stores Into Your Existing Infrastructure.</p>
    </div>
</div>
<div class="text-center my-4">
    <h3 class="fw-semibold ">
        Key Features for AI in Manufacturing
    </h3>
</div>
<div class="key-features-banner mb-3">
    <div class="container">
        <div class="row g-4">
            <div class="col-sm-4">
                <div class="card h-100">
                    <img src="../../../../../assets/images/page-retail/urchases.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="fw-semibold">Automatic Number Plate Recognition</h5>
                        <p class="small">Identify vehicles’ number plates automatically to improve security and manage real-time traffic. Make use of insights from CHARLIE and eliminate security breaches and access to any unauthorized vehicle. Identify trends with vehicle 
                            analytics and automate the operational efficiency of your manufacturing plant.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img src="../../../../../assets/images/page-retail/content-purchases.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="fw-semibold">Fire Safety</h5>
                        <p class="small">Get real-time alerts on the detection of smoke and fire to avoid any life loss or
                             post-event losses. With 100% accurate results, CHARLIE enables making quick responsive 
                            strategies and understanding the variations and intensities of the event.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img src="../../../../../assets/images/page-retail/content.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="fw-semibold">Intrusion Detection</h5>
                        <p class="small">Get real-time alerts for any intrusion along with footage of the incident 
                            allowing rapid verification of the source and take action. Integrating video and audio 
                            analytics, easily recognize if a detected intrusion is violent in nature.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card h-100">
                    <img src="../../../../../assets/images/page-retail/best-friend.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="fw-semibold">Premium Customer Identification</h5>
                        <p class="small">Provide a better customer experience by identifying repetitive and premium
                            customers using existing CCTV cameras. Speed up billing time for customers by analyzing
                            previous
                            purchases and providing recommendations.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card h-100">
                    <img src="../../../../../assets/images/page-retail/content-purchases.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="fw-semibold">Queue Management</h5>
                        <p class="small">Get the estimated wait time for each person in a queue to optimize the total
                            number of queues and to reshuffle the customers between queues for quicker billing. Minimize
                            queue abandonment rate and avoid customer churn with our retail analytics solution, Charlie,
                            to
                            see a rise in ROI.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card h-100">
                    <img src="../../../../../assets/images/page-retail/girl.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="fw-semibold">Customer Journey Analytics</h5>
                        <p class="small">Analyze the complete customer journey through various touch points across all
                            channels for better decision-making. Elevate your staff management techniques and plan
                            according
                            to the insights from Charlie.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid why-use-charlie">
    <div class="text-center">
        <h3 class="fw-semibold">Key Features for AI in Manufacturing</h3>
    </div>
    <div class="container">
       <div class="row g-2 mt-4">
        <div class="col-sm-4">
            <div class="card card-body">
                <div class="d-flex mb-2 gap-1">
                    <img src="../../../../../assets/images/point.svg" alt="">
                    <h6 class="fw-semibold mb-0">Become Situationally Aware</h6>
                </div>
                <P>With real-time alerts, immediate action can be taken in case of the detection of any 
                    foreign event. Alerts triggered through abnormal or suspicious behavior can
                     help prompt proactive reactions to avoid any developing situations or emergencies.</P>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card-body">
                <div class="d-flex mb-2 gap-1">
                    <img src="../../../../../assets/images/point.svg" alt="">
                    <h6 class="fw-semibold mb-0">Gain Centralized Control</h6>
                </div>
                <P>Centralized visibility directly enhances the performance of the staff, detecting abnormalities in the plant. We can work with you to increase plant 
                    performance by up to 95%, managing your day-to-day operations while our video analytics solution eliminates human error.</P>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card-body">
                <div class="d-flex mb-2 gap-1">
                    <img src="../../../../../assets/images/point.svg" alt="">
                    <h6 class="fw-semibold mb-0">Boost Manufacturing Efficiency</h6>
                </div>
                <P>The Charlie video analytics solution will integrate your front and back-end activities. This helps you manage your processes and 
                    assets - collaboratively - with the least amount of expenditure, effort, and time.</P>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card-body">
                <div class="d-flex mb-2 gap-1">
                    <img src="../../../../../assets/images/point.svg" alt="">
                    <h6 class="fw-semibold mb-0">Smooth Automation Process</h6>
                </div>
                <P>The solution has been effective in various manufacturing industries in bringing change to the automation process. Our VMS software has been designed in an elementary format, 
                    providing ease of access and developing a seamless customer experience.</P>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card-body">
                <div class="d-flex mb-2 gap-1">
                    <img src="../../../../../assets/images/point.svg" alt="">
                    <h6 class="fw-semibold mb-0">Get The Most From Your Data</h6>
                </div>
                <P>We will help you build and manage your big data pool - in the cloud, on-premise, or hybrid - so 
                    you can analyze and predict the demands of your manufacturing plant and flex your business models.</P>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card-body">
                <div class="d-flex mb-2 gap-1">
                    <img src="../../../../../assets/images/point.svg" alt="">
                    <h6 class="fw-semibold mb-0">Avoid Theft And Pilferage</h6>
                </div>
                <P>Theft and pilferage losses are one of the most common problems in manufacturing plants. With the integration of AI in manufacturing through Charlie, 
                    loss prevention through theft and pilferage can be reduced by up to 40%.</P>
            </div>
        </div>
       </div>
    </div>
</div>

<div class="container impact mb-3 text-dark rounded-4 p-5 bg-opacity-10">
    <h3 class="text-center fw-semibold my-4">Impact of Artificial Intelligence for Manufacturing</h3>
    <div class="row gx-5 align-items-center">
        <div class="col-sm-6 text-start">
           <p>Streamline SOPs and improve production line efficiency by up to 45%.</p>
           <p>Ensure adherence to safety compliances with real-time alerting mechanism, hence reducing auditing costs by up to 17%</p>
           <p>Loss prevention through theft, pilferage, etc., by up to 40%.</p>
           <p>Track vehicular movements using Automatic Number Plate Recognition (ANPR) and generate data metrics like Vehicle Turnaround Time, Parking Analysis, etc.</p>
        </div>
        <div class="col-sm-6">
            <div class="row gy-3">
                <img src="../../../../../assets/images/page-retail/supervisor.png" alt="" class="img-fluid w-75">
            </div>
            <!-- <button class="btn btn-primary rounded-pill px-5">Submit</button> -->
        </div>
    </div>
</div>
<div class="go-ahed">
  <div class="container">
    <h1 class="text-white">Learn to<h1 class="text-main">streamline SOPs.</h1>Integrate AI in</h1>
    <h1 class="text-white">manufacturing.</h1>
    <div class="text-end">
          <button class="btn btn-primary rounded-pill px-5">Contact Us</button>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center my-3 gap-1">
    <img src="../../../../../assets/images/point.svg" alt="">
    <h6 class="fw-semibold mb-0">SUCCESS STORIES</h6>
</div>
<div class="container mb-3">
    <div class="row success-storys">
        <div class="col-sm-4">
            <div class="card border-0  shadow">
              <div class="card-body">
                <h5 class="fw-semibold">Metro Brands</h5>
                <img src="../../../../../assets/images/page-retail/customer.png" alt="" class="img-fluid">
              </div>
                <div class="card-footer text-center border-0">
                    <a href="#" class="text-decoration-none text-white">Read More<i class="fa-solid fa-arrow-right ms-2"></i></a>
                </div>
              </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-0 shadow">
              <div class="card-body">
                <h5 class="fw-semibold">Metro Brands</h5>
                <img src="../../../../../assets/images/page-retail/chef.png" alt="" class="img-fluid">
              </div>
                <div class="card-footer text-center border-0">
                    <a href="#" class="text-decoration-none text-white">Read More<i class="fa-solid fa-arrow-right ms-2"></i></a>
                </div>
              </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-0 shadow">
              <div class="card-body">
                <h5 class="fw-semibold">Metro Brands</h5>
                <img src="../../../../../assets/images/page-retail/truck.png" alt="" class="img-fluid">
              </div>
                <div class="card-footer text-center  border-0">
                    <a href="#" class="text-decoration-none text-white">Read More<i class="fa-solid fa-arrow-right ms-2"></i></a>
                </div>
              </div>
        </div>
    </div>
</div>
<div class="hand-shake-banner mb-3">
    <div class="container d-flex flex-column  justify-content-center align-items-center h-100">
        <h1 class="fw-semibold text-white text-center">Minimize human error with our industry- <br>leading video analytics solution.</h1>
        <p class="text-white">Learn more about  artificial intelligence in retail</p>
        <button class="btn btn-primary rounded-pill px-5">BOOK A FREE DEMO TODAY</button>
    </div>
</div>
<div class="text-center my-3">
    <h4 class="fw-semibold">Featured Content</h4>
</div>
<div class="container mb-4">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
           <div class="row">
            <div class="col-sm-4">
                <img src="../../../../../assets/images/page-retail/blog-3.png" alt="" class="img-fluid">
            </div>
            <div class="col-sm-4">
                <img src="../../../../../assets/images/page-retail/blog-4.png" alt="" class="img-fluid">
            </div>
            <div class="col-sm-4">
                <img src="../../../../../assets/images/page-retail/blog-2.png" alt="" class="img-fluid">
            </div>
           </div>
          </div>
          <div class="carousel-item">
            <div class="row">
                <div class="col-sm-4">
                    <img src="../../../../../assets/images/page-retail/blog-2.png" alt="" class="img-fluid">
                </div>
                <div class="col-sm-4">
                    <img src="../../../../../assets/images/page-retail/blog-3.png" alt="" class="img-fluid">
                </div>
                <div class="col-sm-4">
                    <img src="../../../../../assets/images/page-retail/blog-4.png" alt="" class="img-fluid">
                </div>
               </div>
          </div>
          <div class="carousel-item">
            <div class="row">
                <div class="col-sm-4">
                    <img src="../../../../../assets/images/page-retail/blog-2.png" alt="" class="img-fluid">
                </div>
                <div class="col-sm-4">
                    <img src="../../../../../assets/images/page-retail/blog-3.png" alt="" class="img-fluid">
                </div>
                <div class="col-sm-4">
                    <img src="../../../../../assets/images/page-retail/blog-4.png" alt="" class="img-fluid">
                </div>
               </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
