<div class="smart-city-banner">
    <div class="container h-100 d-flex justify-content-center flex-column">
        <h1 class="text-white">AI-Enabled Video Analytics For</h1>
        <h1 class="fw-semibold text-gradient">Smart City Analytics</h1>
        <p class="text-white">
            Insights-driven video analytics solution for smart cities to increase resident satisfaction, improve
            municipal services, and enhance public safety.
        </p>
    </div>
</div>
<div class="text-center my-4">
    <h3 class="fw-semibold">
        Key Features Of Our Video Analytics For Smart City Analytics
    </h3>
</div>

<div class="key-features-banner mb-3">
    <div class="container">
        <div class="row g-4">
            <div class="col-sm-4">
                <div class="card h-100">
                    <img src="../../../../../assets/images/industries_we_serve/traffic-congestion-detection.png "
                        class="card-img-top">
                    <div class="card-body">
                        <h5 class="fw-semibold">Traffic Congestion Detection</h5>
                        <p class="small">
                            Replicate the human visual system for traffic management by ascertaining, foreseeing, &
                            alleviating traffic congestion using CCTVs. Improve the level of service (LOS) of the
                            transportation network to reduce direct and indirect costs to society.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card  h-100">
                    <img src="../../../../../assets/images/industries_we_serve/accident-detection.png"
                        class="card-img-top">
                    <div class="card-body">
                        <h5 class="fw-semibold">Accident Detection</h5>
                        <p class="small">
                            Real-time AI-based reporting mechanisms & traffic monitoring can result in saving lots of
                            lives with a hustle-free insurance claim settlement by understanding the facts of the event.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card h-100">
                    <img src="../../../../../assets/images/industries_we_serve/person-interest-tracking.png"
                        class="card-img-top">
                    <div class="card-body">
                        <h5 class="fw-semibold">Person of Interest Tracking</h5>
                        <p class="small">
                            Identify persons of interest in real-time in widespread sectors, from smart cities to
                            retail.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card h-100">
                    <img src="../../../../../assets/images/industries_we_serve/voilence_detection.png "
                        class="card-img-top">
                    <div class="card-body">
                        <h5 class="fw-semibold">Violence Detection</h5>
                        <p class="small">
                            Detects different physical fights by sharing alerts for behavioral analytics and postures
                            like hand movement, touching, kicking.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card h-100">
                    <img src="../../../../../assets/images/industries_we_serve/crowd_detection.png"
                        class="card-img-top">
                    <div class="card-body">
                        <h5 class="fw-semibold">Over-Crowding Detection</h5>
                        <p class="small">
                            Spot any abnormal event and suspicious behavior of the crowd using existing CCTV cameras.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card h-100">
                    <img src="../../../../../assets/images/page-retail/girl.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="fw-semibold">Abandoned Baggage Detection</h5>
                        <p class="small">
                            Get notified of the potentially dangerous unattended suitcase/baggage on the premises.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="why-use-charlie">
    <div class="container">
        <div class="text-center my-4">
            <h3 class="fw-semibold">Why use Charlie video analytics for smart city analytics</h3>
        </div>
        <div class="row g-4">
            <div class="col-sm-4">
                <div class="card h-100 border-0 shadow">
                    <div class="card-header border-bottom-0 pt-3 pb-0">
                        <div class="d-flex align-items-center gap-1">
                            <img src="../../../../../assets/images/point.svg" alt="">
                            <h6 class="fw-semibold mb-0">Benefit from a sustainable solution</h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="small">
                            With real-time alerts, immediate action can be taken in case of the detection of any
                            foreign event. Alerts triggered through abnormal or suspicious behavior can
                            help prompt proactive reactions to avoid any developing situations or emergencies.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card h-100 border-0 shadow">
                    <div class="card-header border-bottom-0 pt-3 pb-0">
                        <div class="d-flex align-items-center gap-1">
                            <img src="../../../../../assets/images/point.svg" alt="">
                            <h6 class="fw-semibold mb-0">Optimize infrastructure & identify inefficiencies</h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="small">
                            Planners can evaluate pedestrian and vehicle traffic, react quickly and effectively to
                            changing
                            circumstances, efficiently investigate events, increase public safety measures, and
                            streamline
                            operations with the help of our video analytics solution.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card h-100 border-0 shadow">
                    <div class="card-header border-bottom-0 pt-3 pb-0">
                        <div class="d-flex align-items-center gap-1">
                            <img src="../../../../../assets/images/point.svg" alt="">
                            <h6 class="fw-semibold mb-0">Use AI to Improve Transparency</h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="small">
                            Get user access in different formats to gain control over the transparent flow of data
                            within
                            the organization. Utilize our solution to analyze whether the end-user effectively navigates
                            through Charlie to maintain SOPs and streamline other processes.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card h-100 border-0 shadow">
                    <div class="card-header border-bottom-0 pt-3 pb-0">
                        <div class="d-flex align-items-center gap-1">
                            <img src="../../../../../assets/images/point.svg" alt="">
                            <h6 class="fw-semibold mb-0">Leverage cross-functional resources</h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="small">
                            Since sharing data across different stakeholders within local departments is difficult,
                            information is frequently siloed. Video content analytics technology transforms video into a
                            cross- functional resource that can be shared across enterprises and local governments for a
                            variety of use cases, broadening the applications of video surveillance beyond security.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card h-100 border-0 shadow">
                    <div class="card-header border-bottom-0 pt-3 pb-0">
                        <div class="d-flex align-items-center gap-1">
                            <img src="../../../../../assets/images/point.svg" alt="">
                            <h6 class="fw-semibold mb-0">Predictive analytics for better planning</h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="small">
                            We analyze patterns and employ predictive analytics to equip you with a powerful tool to
                            predict
                            and adapt to peak demand. With the help of Charlie, manage risks, improve smart city
                            efficiency
                            and maximize profit.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card h-100 border-0 shadow">
                    <div class="card-header border-bottom-0 pt-3 pb-0">
                        <div class="d-flex align-items-center gap-1">
                            <img src="../../../../../assets/images/point.svg" alt="">
                            <h6 class="fw-semibold mb-0">Reduce human error</h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="small">
                            Employ Charlie to reduce manual labor costs as well as minimize human error while analyzing
                            video content. Leverage artificial intelligence- backed analytics to get accurate and
                            definite
                            results.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="impact-analytics">
    <div class="container">
        <div class="card border-0 shadow">
            <div class="card-header text-center border-bottom-0">
                <h3 class="fw-semibold">Impact of Video Analytics for Smart City</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-7">
                        <ul class="list-unstyled">
                            <li>
                                Mobilize public safety services without delays through real-time detection and alerting.
                            </li>
                            <li>
                                Better situational awareness for security and law enforcement through critical
                                violation/event
                                detection and alerts.
                            </li>
                            <li>
                                Detect traffic anomalies in real-time with events such as accidents, road blockages,
                                traffic
                                jams, violence, etc.
                            </li>
                            <li>
                                Reduce post-event investigation time by up to 50%.
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-5">
                        <img src="../../../../../assets/images/page-retail/supervisor.png" class="img-fluid w-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="text-center">
        <h1 class="text-dark fw-semibold">
            Our Clients
        </h1>
    </div>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row align-items-center">
                    <div class="col-sm-3">
                        <img src="assets/images/page-retail/Tech_Mahindra.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-sm-3">
                        <img src="assets/images/page-retail/microsoft-vector.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-sm-3">
                        <img src="assets/images/page-retail/intel.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-sm-3">
                        <img src="assets/images/page-retail/raymond.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row align-items-center">
                    <div class="col-sm-3">
                        <img src="assets/images/page-retail/Tech_Mahindra.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-sm-3">
                        <img src="assets/images/page-retail/microsoft-vector.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-sm-3">
                        <img src="assets/images/page-retail/intel.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-sm-3">
                        <img src="assets/images/page-retail/raymond.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="go-ahed">
    <div class="container">
        <h1 class="text-white"><span class="text-main">Futureproof</span> your smart city with Charlie!</h1>
        <div class="text-end">
            <button class="btn btn-primary rounded-pill px-5">Contact Us</button>
        </div>
    </div>
</div>

<div class="testimonials">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center my-4">
            <img src="../../../../../assets/images/point.svg" alt="" class="img-fluid">
            <h3>Testimonials</h3>
        </div>
        <div class="row justify-content-center pt-4">
            <div class="col-sm-9">
                <div class="d-flex align-items-center">
                    <img src="../../../../../assets/images/industries_we_serve/ai_squre_img.png" class="ai-img">
                    <div class="card">
                        <div class="card-body">
                            <div id="carouselExampleIndicators" class="carousel slide">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="0" class="active" aria-current="true"
                                        aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="2" aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="d-flex align-items-center gap-3 mb-4">
                                            <img src="../../../../assets/images/contact-us-images/user.jpg"
                                                class="profile-img">
                                            <div class="d-flex flex-column">
                                                <div class="text-gradient">Mr. Jitendra Singh</div>
                                                <div>Group CIO, JK Super Cement</div>
                                            </div>
                                        </div>
                                        <p>
                                            We have already closed 10-12 features and we are looking for 25 more.
                                            Charlie
                                            has made our process
                                            more fluid, safe and efficient.
                                        </p>
                                    </div>

                                    <div class="carousel-item">
                                        <div class="d-flex align-items-center gap-3 mb-4">
                                            <img src="../../../../assets/images/contact-us-images/user.jpg"
                                                class="d-block w-100 profile-img" alt="...">
                                            <div class="d-flex flex-column">
                                                <div class="text-gradient">Mr. Jitendra Singh</div>
                                                <div>Group CIO, JK Super Cement</div>
                                            </div>
                                        </div>
                                        <p>
                                            We have already closed 10-12 features and we are looking for 25 more.
                                            Charlie
                                            has made our process
                                            more fluid, safe and efficient.
                                        </p>
                                    </div>

                                    <div class="carousel-item">
                                        <div class="d-flex align-items-center gap-3 mb-4">
                                            <img src="../../../../assets/images/contact-us-images/user.jpg"
                                                class="d-block w-100 profile-img" alt="...">
                                            <div class="d-flex flex-column">
                                                <div class="text-gradient">Mr. Jitendra Singh</div>
                                                <div>Group CIO, JK Super Cement</div>
                                            </div>
                                        </div>
                                        <p>
                                            We have already closed 10-12 features and we are looking for 25 more.
                                            Charlie
                                            has made our process
                                            more fluid, safe and efficient.
                                        </p>
                                    </div>

                                </div>
                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="success-stories my-4">
    <div class="container">
        <div class="d-flex justify-content-center my-4 gap-1">
            <img src="../../../../../assets/images/point.svg" alt="">
            <h6 class="fw-semibold mb-0">SUCCESS STORIES</h6>
        </div>
    
        <div class="row justify-content-center">
            <div class="col-sm-9">
                <div id="carouselExampleCaptions" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card position-relative">
                                        <img src="../../../../../assets/images/industries_we_serve/metro-brands.png" class="card-img w-100">
                                        <div class="card-img-overlay">
                                            <h3 class="text-white mb-0">Metro Brands</h3>
                                            <p class="text-white mb-0">Read full case study</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card">
                                        <img src="../../../../../assets/images/industries_we_serve/we-work.png" class="card-img w-100">
                                        <div class="card-img-overlay">
                                            <h3 class="text-white mb-0">Wework</h3>
                                            <p class="text-white mb-0">Read full case study</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card">
                                        <img src="../../../../../assets/images/industries_we_serve/we-work.png" class="card-img w-100">
                                        <div class="card-img-overlay">
                                            <h3 class="text-white mb-0">Metro Brands</h3>
                                            <p class="text-white mb-0">Read full case study</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card">
                                        <img src="../../../../../assets/images/industries_we_serve/metro-brands.png" class="card-img w-100">
                                        <div class="card-img-overlay">
                                            <h3 class="text-white mb-0">Metro Brands</h3>
                                            <p class="text-white mb-0">Read full case study</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="hand-shake-banner mb-3">
    <div class="container d-flex flex-column justify-content-center align-items-center h-100">
        <h1 class="fw-semibold text-white text-center">
            Rethink how you can apply video analytics <br> to enhance smart cities
        </h1>
        <button type="button" class="btn btn-outline-light rounded-pill px-5">Book A Free Demo Today!</button>
    </div>
</div>


<div class="feature-content my-4">
    <div class="container">
        <div class="text-center my-3">
            <h4 class="fw-semibold">Featured Content</h4>
        </div>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="../../../../../assets/images/page-retail/blog-3.png" alt="" class="img-fluid">
                        </div>
                        <div class="col-sm-4">
                            <img src="../../../../../assets/images/page-retail/blog-4.png" alt="" class="img-fluid">
                        </div>
                        <div class="col-sm-4">
                            <img src="../../../../../assets/images/page-retail/blog-2.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="../../../../../assets/images/page-retail/blog-3.png" alt="" class="img-fluid">
                        </div>
                        <div class="col-sm-4">
                            <img src="../../../../../assets/images/page-retail/blog-2.png" alt="" class="img-fluid">
                        </div>
                        <div class="col-sm-4">
                            <img src="../../../../../assets/images/page-retail/blog-4.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="../../../../../assets/images/page-retail/blog-2.png" alt="" class="img-fluid">
                        </div>
                        <div class="col-sm-4">
                            <img src="../../../../../assets/images/page-retail/blog-4.png" alt="" class="img-fluid">
                        </div>
                        <div class="col-sm-4">
                            <img src="../../../../../assets/images/page-retail/blog-3.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
