.retail-banner{
    // background-image: url(../../../../assets/images/contact-us-images/Contact-Us.png);
    background-size: cover !important;
    background-position: center;
    height: 90vh;
    background: -webkit-linear-gradient(rgb(22, 18, 45 , 0.7), rgba(36, 21, 61,0.5)), url("../../../../../assets/images/page-retail/beautiful-family-standing-cash-counter.png");
}
.key-features-banner{
    background-size: cover !important;
    background-position: center;
    background: url("../../../../../assets/images/page-retail/key-features-banner.png");
}
.key-features-banner .card{
   background-color: #eee;
   border: 0;
   border-radius: 15px;
}
.why-use-charlie{
    background-size: cover !important;
    padding:15px;
    background-position: center;
    background: url("../../../../../assets/images/page-retail/why-use-charlie-banner.png");
}
.why-use-charlie .card{
    border: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.go-ahed{
    background-size: cover !important;
    padding:40px;
    background-position: center;
    background: url("../../../../../assets/images/page-retail/go-ahed-banner.jpg");
}
.success-storys .card .card-footer{
    background-color: #23153B;
}
.hand-shake-banner{
    background-size: cover !important;
    background-position: center;
    height: 400px;
    background: -webkit-linear-gradient(rgb(22, 18, 45 , 0.7), rgba(36, 21, 61,0.5)), url("../../../../../assets/images/page-retail/hand-shake.png");
}
.impact{
    background-color: #FFFFFF;
}
.text-main{
    color: #F84A14;
}
.btn-primary{
    background-color: #F6F1FF;
    color: #24153D;
}
