html,
body {
    height: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
}

:root {
    --bg-gradient: linear-gradient(90deg, #EFC057 0%, #F0A55F 13%, #F17C6B 26%, #F25C74 41%, #D15495 58%, #8F6DC7 79%, #5485F4 100%);
    --main-color: #F26E6F;
}

.text-gradient {
    background-image: -webkit-linear-gradient(90deg, #EFC057 0%, #F0A55F 13%, #F17C6B 26%, #F25C74 41%, #D15495 58%, #8F6DC7 79%, #5485F4 100%);
    background-image: -moz-linear-gradient(90deg, #EFC057 0%, #F0A55F 13%, #F17C6B 26%, #F25C74 41%, #D15495 58%, #8F6DC7 79%, #5485F4 100%);
    background-image: linear-gradient(90deg, #EFC057 0%, #F0A55F 13%, #F17C6B 26%, #F25C74 41%, #D15495 58%, #8F6DC7 79%, #5485F4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-mask-image: linear-gradient(90deg, #EFC057 0%, #F0A55F 13%, #F17C6B 26%, #F25C74 41%, #D15495 58%, #8F6DC7 79%, #5485F4 100%);
    mask-image: linear-gradient(90deg, #EFC057 0%, #F0A55F 13%, #F17C6B 26%, #F25C74 41%, #D15495 58%, #8F6DC7 79%, #5485F4 100%);
}

.bg-gradient {
    background: var(--bg-gradient);
}

.text-main {
    color: var(--main-color);
}

.bg-main {
    background-color: var(--main-color);
}