<section id="banner-content">
  <div class="overlay"></div>
  <div class="container h-100">
    <div class="d-flex flex-column h-100 justify-content-center text-overlay">
      <h1>Infrastructure Intelligence</h1>
      <p class="small">
        Enhance infrastructure goals by analyzing perimeter security with <br> more than 99.9% accuracy while also
        reducing CAPEX with our <br> video analytics solution.
      </p>
    </div>
  </div>
</section>

<section id="key_features">
  <div class="container">
    <h1 class="text-center">Key Features For Infrastructure Intelligence</h1>
    <div class="row gy-5 gx-5">
      <div class="col-sm-4">
        <div class="card border-0 shadow h-100">
          <div class="card-header border-0">
            <img src="../../../../../assets/images/industries_we_serve/mumbai-skyline-skyscrapers-construction.png"
              alt="" class="img-fluid rounded">
          </div>
          <div class="card-body">
            <h6 class="fw-bold">Perimeter Security</h6>
            <p>
              Pursuing 24*7 vigilant security is now made easy with Charlie. Keep a check on perimeter security and get
              alerts for any foreign movement or other abnormal activity around the perimeter.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-0 shadow h-100">
          <div class="card-header border-0">
            <img src="../../../../../assets/images/industries_we_serve/mumbai-skyline-skyscrapers-construction.png"
              alt="" class="img-fluid rounded">
          </div>
          <div class="card-body">
            <h6 class="fw-bold">Smart Parking Management</h6>
            <p>
              Analyze real-time parking occupancy data to give required access to entrants and make the whole process
              seamless. Depend on efficient automated coordination through Charlie rather than the traditional way of
              working with a team of overworked staff.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-0 shadow h-100">
          <div class="card-header border-0">
            <img src="../../../../../assets/images/industries_we_serve/mumbai-skyline-skyscrapers-construction.png"
              alt="" class="img-fluid rounded">
          </div>
          <div class="card-body">
            <h6 class="fw-bold">Unique Visitor Analytics</h6>
            <p>
              Maximize revenue by re-targeting add-on services on the basis of the footfall received per floor.
              Differentiate each visitor uniquely from others with our advanced artificial intelligence technology.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-0 shadow h-100">
          <div class="card-header border-0">
            <img src="../../../../../assets/images/industries_we_serve/mumbai-skyline-skyscrapers-construction.png"
              alt="" class="img-fluid rounded">
          </div>
          <div class="card-body">
            <h6 class="fw-bold">Abandoned Baggage Detection</h6>
            <p>
              Enhance perimeter security by identifying a piece of abandoned baggage or object and ensuring that your
              premise is in safe hands. Get alerted in real-time to act on the matter instantly.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-0 shadow h-100">
          <div class="card-header border-0">
            <img src="../../../../../assets/images/industries_we_serve/mumbai-skyline-skyscrapers-construction.png"
              alt="" class="img-fluid rounded">
          </div>
          <div class="card-body">
            <h6 class="fw-bold">Fire & Smoke Detection</h6>
            <p>
              Decrease the harm & boost fire control efforts by giving early sign notifications for something that could
              be disastrous. Integrate your fire extinguishing system with Charlie to guarantee a safe and secure
              premise.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-0 shadow h-100">
          <div class="card-header border-0">
            <img src="../../../../../assets/images/industries_we_serve/mumbai-skyline-skyscrapers-construction.png"
              alt="" class="img-fluid rounded">
          </div>
          <div class="card-body">
            <h6 class="fw-bold">Hygiene Maintenance</h6>
            <p>
              Get human eye equivalent detection of hair net, hand washing, cleanliness, and dispenser usage to check
              hygiene compliance. Maintain the operating process seamlessly with Charlie to further accelerate revenue
              by promoting a clean environment.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="why_use_charlie">
  <div class="container">
    <h1 class="text-center">Why use Charlie for Infrastructure Intelligence</h1>
    <div class="row gy-5 gx-5">
      <div class="col-sm-4">
        <div class="card card-body border-0 shadow h-100">
          <div class="d-flex align-items-start gap-3">
            <img src="../../../../../assets/images/point.svg" alt="" class="img-fluid">
            <div class="d-flex flex-column">
              <h6 class="fw-bold">Modernize Perimeter Security</h6>
              <p>
                Traditional ways of analyzing perimeter security demand excess manpower, ultimately resulting in
                increased human error. With real-time alerts through video analytics, immediate action can be taken in
                case of the detection of any unruly event.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-body border-0 shadow h-100">
          <div class="d-flex align-items-start gap-3">
            <img src="../../../../../assets/images/point.svg" alt="" class="img-fluid">
            <div class="d-flex flex-column">
              <h6 class="fw-bold">Automate Operations</h6>
              <p>
                Gather infrastructure intelligence from Charlie and make your operational processes easier. Building
                system connectivity ensures a secure infrastructure, automates routine processes, and accelerates
                responses to problems.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-body border-0 shadow h-100">
          <div class="d-flex align-items-start gap-3">
            <img src="../../../../../assets/images/point.svg" alt="" class="img-fluid">
            <div class="d-flex flex-column">
              <h6 class="fw-bold">Streamline Centralized Efficiency</h6>
              <p>
                With our Video Management Software, you obtain better visibility of all of your infrastructure around
                the world and know when and how to optimize efficiency. Gather intelligence to streamline SOPs and
                develop new business strategies to generate profitable revenue.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-body border-0 shadow h-100">
          <div class="d-flex align-items-start gap-3">
            <img src="../../../../../assets/images/point.svg" alt="" class="img-fluid">
            <div class="d-flex flex-column">
              <h6 class="fw-bold">Replace Sensors For Better Accuracy</h6>
              <p>
                Get results with accuracy above 99% through our video analytics solution. Our unique tracking systems
                have been developed to provide evidence-based reports justifying that the solution is better than
                sensors.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-body border-0 shadow h-100">
          <div class="d-flex align-items-start gap-3">
            <img src="../../../../../assets/images/point.svg" alt="" class="img-fluid">
            <div class="d-flex flex-column">
              <h6 class="fw-bold">Reduce Manual Security Costs</h6>
              <p>
                We will help you reduce CAPEX to up to 35% with our infrastructure intelligence solution. With real-
                time alerting, we automate your SOPs resulting in lesser time consumption and maximum functionality.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="impact_infrastructure">
  <div class="container">
    <div class="card card-body border-0 shadow">
      <h2 class="text-center">Impact of Infrastructure Intelligence</h2>
      <div class="row align-items-center">
        <div class="col-sm-8">
          <ul class="list-unstyled">
            <li>
              <div class="d-flex gap-2">
                <span>&#8594;</span>
                <span>Reduce Manual Security costs by up to 35% through centralized automation of SOPs and real-time
                  alerting.</span>
              </div>
            </li>
            <li>
              <div class="d-flex gap-2">
                <span>&#8594;</span>
                <span>Reduce inefficiencies due to manual monitoring by up to 20%.</span>
              </div>
            </li>

            <li>
              <div class="d-flex gap-2">
                <span>&#8594;</span>
                <span>Streamline operations through parking management, occupancy analysis, etc. Hence reducing
                  operational costs by up to 30%</span>
              </div>
            </li>
            <li>
              <div class="d-flex gap-2">
                <span>&#8594;</span>
                <span>Enhance asset protection and tracking by up to 20%.</span>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-sm-4">
          <img src="../../../../../assets/images/industries_we_serve/mumbai-skyline-skyscrapers-construction.png" alt=""
            class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
<section id="our_clients">
  <div class="container">
    <h2 class="text-center">Our Clients</h2>
    <div class="row align-items-center">
      <div class="col-sm-3">
        <img src="../../../../../assets/images/industries_we_serve/Tech_Mahindra_New_Logo.svg.png" alt=""
          class="img-fluid">
      </div>
      <div class="col-sm-3">
        <img src="../../../../../assets/images/industries_we_serve/microsoft-vector-logo.png" alt="" class="img-fluid">
      </div>
      <div class="col-sm-3">
        <img src="../../../../../assets/images/industries_we_serve/logo-intel-free-hq-image.png" alt=""
          class="img-fluid">
      </div>
      <div class="col-sm-3">
        <img src="../../../../../assets/images/industries_we_serve/raymond.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>

</section>
<section id="book_demo">
  <div class="container">
    <h1>Get the most out of your big data and enhance <br> infrastructure intelligence!</h1>
    <div class="float-end">
      <button class="btn btn-primary">Book a Demo</button>
    </div>
  </div>
</section>

<section id="testimonials">
  <div class="container">
    <div class="d-flex align-items-center justify-content-center">
      <img src="../../../../../assets/images/point.svg" alt="" class="img-fluid">
      <h2>Testimonials</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <div class="d-flex align-items-center">
          <img src="../../../../../assets/images/industries_we_serve/ai_squre_img.png" alt="" class="img-fluid ai_img">
          <div class="card card-body shadow">
            <div id="carouselExampleIndicators" class="carousel slide">
              <div class="carousel-indicators mb-0 mt-5">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="d-flex align-items-center gap-3 mb-4">
                    <img src="../../../../assets/images/contact-us-images/user.jpg" class="d-block w-100 profile-img"
                      alt="...">
                    <div class="d-flex flex-column">
                      <div class="text-gradient">Mr. Jitendra Singh</div>
                      <div>Group CIO, JK Super Cement</div>
                    </div>
                  </div>
                  <p>
                    We have already closed 10-12 features and we are looking for 25 more. Charlie has made our process
                    more fluid, safe and efficient.
                  </p>
                </div>
                <div class="carousel-item ">
                  <div class="d-flex align-items-center gap-3 mb-4">
                    <img src="../../../../assets/images/contact-us-images/user.jpg" class="d-block w-100 profile-img"
                      alt="...">
                    <div class="d-flex flex-column">
                      <div class="text-gradient">Mr. Jitendra Singh</div>
                      <div>Group CIO, JK Super Cement</div>
                    </div>
                  </div>
                  <p>
                    We have already closed 10-12 features and we are looking for 25 more. Charlie has made our process
                    more fluid, safe and efficient.
                  </p>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="success_stories">
  <div class="container">
    <!-- <div class="d-flex align-items-center justify-content-center">
      <img src="../../../../../assets/images/point.svg" alt="" class="img-fluid">
      <h2>Success Stories</h2>
    </div>
    <div class="row justify-content-center success_stories_slider">
      <div class="col-sm-6">
        <div class="card card-body p-0">
          <img src="../../../../../assets/images/industries_we_serve/metro_brands.png" alt="" class="img-fluid">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card card-body p-0">
          <img src="../../../../../assets/images/industries_we_serve/metro_brands.png" alt="" class="img-fluid">
        </div>
      </div>
    </div> -->
    <div class="text-center my-3">
      - <div class="d-flex align-items-center justify-content-center">
        <img src="../../../../../assets/images/point.svg" alt="" class="img-fluid">
        <h2>Success Stories</h2>
      </div>
    </div>
    <div class="container mb-4">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-sm-6">
                <img src="../../../../../assets/images/page-retail/blog-2.png" alt="" class="img-fluid">
              </div>
              <div class="col-sm-6">
                <img src="../../../../../assets/images/page-retail/blog-3.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-sm-6">
                <img src="../../../../../assets/images/page-retail/blog-2.png" alt="" class="img-fluid">
              </div>
              <div class="col-sm-6">
                <img src="../../../../../assets/images/page-retail/blog-3.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <!-- <div class="carousel-item">
              <div class="row">
                  <div class="col-sm-4">
                      <img src="../../../../../assets/images/page-retail/blog-2.png" alt="" class="img-fluid">
                  </div>
                  <div class="col-sm-4">
                      <img src="../../../../../assets/images/page-retail/blog-3.png" alt="" class="img-fluid">
                  </div>
                  <div class="col-sm-4">
                      <img src="../../../../../assets/images/page-retail/blog-4.png" alt="" class="img-fluid">
                  </div>
                 </div>
            </div> -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</section>

<section id="contactus">
  <!-- <img src="../../../../../assets/images/industries_we_serve/mumbai-skyline-skyscrapers-construction.png" alt="" class="img-fluid">
  <div class="contact_overlay">
    <div class="d-flex flex-column align-items-center justify-content-center h-100">
      <h1>Minimize human error with our industry- <br> leading video analytics solution.</h1>
      <button class="btn btn-primary rounded-pill">Contact US</button>
    </div>
  </div> -->
  <div class="contact_overlay">
    <div class="d-flex flex-column align-items-center justify-content-center h-100 contact_overlay_text">
      <h1>Minimize human error with our industry- <br> leading video analytics solution.</h1>
      <button class="btn btn-primary rounded-pill px-5">Contact US</button>
    </div>
  </div>
</section>

<section id="featured_content">
  <div class="text-center my-3">
    <h4 class="fw-semibold">Featured Content</h4>
  </div>
  <div class="container mb-4">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-sm-4">
              <img src="../../../../../assets/images/page-retail/blog-2.png" alt="" class="img-fluid">
            </div>
            <div class="col-sm-4">
              <img src="../../../../../assets/images/page-retail/blog-3.png" alt="" class="img-fluid">
            </div>
            <div class="col-sm-4">
              <img src="../../../../../assets/images/page-retail/blog-4.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-sm-4">
              <img src="../../../../../assets/images/page-retail/blog-2.png" alt="" class="img-fluid">
            </div>
            <div class="col-sm-4">
              <img src="../../../../../assets/images/page-retail/blog-3.png" alt="" class="img-fluid">
            </div>
            <div class="col-sm-4">
              <img src="../../../../../assets/images/page-retail/blog-4.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-sm-4">
              <img src="../../../../../assets/images/page-retail/blog-2.png" alt="" class="img-fluid">
            </div>
            <div class="col-sm-4">
              <img src="../../../../../assets/images/page-retail/blog-3.png" alt="" class="img-fluid">
            </div>
            <div class="col-sm-4">
              <img src="../../../../../assets/images/page-retail/blog-4.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
